

/*Import important css partials*/


/*++++++++++++++Main++++++++++++++*/

h1, h2, h3,h4,h5,h6,h7,h8,p,li,ul, div, sub, sup, input{
    font-family: 'helvetica neue', helvetica, ariel, sans-serif;
}




* {
	margin: 0;
}
html, body {
    height: 100%;
}
body{
    background: #111111;
    /*background: #e9d9b8;*/
}
::selection {
	background: #ccc; /* Safari */
	color: #000;
}
::-moz-selection {
	background: #ccc; /* Firefox */
	color: #000;
}
::-webkit-selection {
	background: #ccc; /* Chrome */
	color: #000;
}


/*a:link, a.link, a:visited {*/
/*    color: #3d6bba;*/
/*}*/
/*a:active, a.link:active, a:hover, a.link:hover{*/
/*    color: #4725ca;*/
/*}*/
a:link, a.link {
    text-decoration:none;
    /*font-weight: lighter;*/
    /*border-bottom: 1px solid #666;*/
}
a:visited {
    text-decoration:none;
    /*border-bottom: 1px solid #666;*/
}
a:active, a.link:active {
    text-decoration:none;
    border-bottom: 1px solid #aaa;
    /*background: rgba(255,255,255,0.2);*/
}
a:hover, a.link:hover {
    border-bottom: 1px solid #aaa;
    /*text-shadow: 0 0 13px rgba(224,224,224,0.8);*/
    /*transition: text-shadow 0.2s;*/
    /*-moz-transition:text-shadow 0.2s;*/ /* Firefox 4 */
    /*-webkit-transition:text-shadow 0.2s;*/ /* Safari and Chrome */
    /*-o-transition:text-shadow 0.2s;*/ /* Opera */
    cursor: pointer;
}
a:focus {
    /*box-shadow: 0px 0px 3px 4px #999 !important;*/
}

strong{
    color: inherit;
    font-variant: small-caps;
}
small{
    display:none;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/********************************************************/
/*	 		Applies to all 			*/
/********************************************************/
#404{
    padding: 120px 0;
}
#page_wrap{
    padding: 40px 0;
}

/***************** Sections ****************/
#index #main_content{
    /*background: #b7bca6;*/
    /*background: #CEC9AD url('/images/bg_crosshatch_trans.png') repeat;*/
}
#index #main_content_inner{
    /*background: #CEC9AD url("/images/money_gradient.png") repeat-y center;*/
}
#medhack #main_content{
    background: #CEC9AD url('/images/bg_crosshatch_trans.png') repeat;
    border-top: 10px solid #e2e5cf;
    border-bottom: 10px solid #e2e5cf;
    box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    -moz-box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    -webkit-box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    -o-box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    position: relative;
    z-index:3;
}
#main_content{
    background: #CEC9AD url('/images/bg_crosshatch_trans.png') repeat;
    /*border-top: 10px solid #e2e5cf;*/
    /*border-bottom: 10px solid #e2e5cf;*/
    box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    -moz-box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    -webkit-box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    -o-box-shadow: 0 0px 4px 2px rgba(106, 101, 66, .5);
    position: relative;
    z-index:3;
}


#main_content_inner{
    /*background: #CEC9AD url("/images/money_gradient.png") repeat-y center;*/
    width: 960px;
    margin: auto;
}

#mid_content, #lowerContent{
    background: #dedede url('/images/bg_crosshatch_trans.png') repeat;
    position: relative;
    z-index: 1;
    min-height: 42px;
}
#mid_content{
    background-color:#efefef;
    padding-bottom:40px;
    z-index: 2;
    box-shadow: inset 0px -2px 4px -1px rgba(106, 101, 66, .5);
    
}
#lowerContent{
     box-shadow: inset 0px -4px 5px -4px black;
    -moz-box-shadow: inset 0px -4px 5px -4px black;
    -webkit-box-shadow: inset 0px -4px 5px -4px black;
    -o-box-shadow: inset 0px -4px 5px -4px black;
    padding-bottom:60px;
}

.section{
    /*padding-top:60px;*/
    margin-top:60px;
}
.section.top, .faq.section{
    margin-top:0;
}

.faq.section{
    padding-bottom: 60px;
}

.section h1, .section h2, .section h3{}
.section h2, .section h3{
    margin-bottom: 20px;
}
.section_head h3, .section_head p {
    text-align: center;
    margin-bottom: 0;
}
#vcs .section_head{
    margin-bottom:10px;
}

/***************** Other ****************/
.negspace{
    position: relative;
    top: -10px;
}
.spacer{
    padding-top:20px;
}
.spacer_2{
    padding-top:40px;
}
.spacer_3{
    padding-top:60px;
}
/********************************************************/
/*	 		  Header 			*/
/********************************************************/
#header_wrap{
    background: #e8e8e8;
    min-height: 40px;
    position: relative;
    /*border-bottom: 2px solid #7E7F73;*/
    box-shadow: 0 1px 3px 0 #7E7F73
}


#header{
    position: relative;
    top:5px;
}
ul#head_links{
    position:absolute;
    right: 5px;
    font-size:14px;
}
#head_links li{

    color: black;
    padding: 20px 5px 3px;
    
    position: relative;
    margin-right: 1px;
    text-align: center;
    list-style-type: none;
    display: inline;
    top:6px;
}
#head_links li:hover, #head_links li.current, #head_links li a{
    padding-bottom: 13px;
}
#head_links li:hover{
    background: #ddd;  /* ~~~~~~~~~~~~~~~~~~ NEEDS CHANGE !!!!!!!!!!!!! */
}
#head_links li.current{
    background: #ddd;
    box-shadow: inset 0 4px 5px 0px #B0B2A1;
    -moz-box-shadow: inset 0 4px 5px 0px #B0B2A1;
    -webkit-box-shadow: inset 0 4px 5px 0px #B0B2A1;
    -o-box-shadow: inset 0 4px 5px 0px #B0B2A1;
}


#head_links li a{
    color: black;
    padding-top: 20px;
    border-bottom: none;
}



#header_img p{
    text-indent:-10000px;
}
#header_img h1, #header_img h2{
    text-align: center;
}
#header_img h1{
    font-size: 50px;
    padding-top: 6px;
    color: #000;
}
#header_img h2{
    font-size: 14px;
    padding-top: 80px;
    font-weight: lighter;
}
#header a{
    border-bottom: none;
}

/***********************************************/
/***************** Upper Content ***************/
/***********************************************/
#upper_content{
    position: relative;
    /*padding-bottom: 30px;*/
    clear:both;
    overflow: auto;
}
#teaser{
    position: relative;
    top:10px;
    margin-bottom: 20px;
    min-height:120px;
    clear: both;
    overflow: auto;
}
#teaser .vc_image img{
    padding:10px;
    background:#E8E8E8;
    z-index: 5;
    position: relative;
    max-height:200px;
    width:200px;
}


.vc_head_tag{
    background: #CECECE;
    position: absolute;
    top: 10px;
    height: 200px;
    width: 210px;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 1px 2px #999;
    z-index: 4;
}

.vc_head_tag .inner{
    padding: 10px;
    position:relative;
    display: block;
}
.vc_head_tag .inner h2{
    line-height:1em;
}
.tag_p {
    padding-top: 20px;
    display: block;
}
.vc_head_item{
    display: inline-block;
    vertical-align: top;
}

#details_container{
    box-shadow: 0 1px 2px #999;
    background:#dedede;
    float:left;
    display:block;
    padding: 10px;
    top:10px;
}
#details_container.fixwidth{
    width: 160px;
}
#details_container #mc_embed_signup{
    margin-top:20px;
}
#details_container #mc_embed_signup input.button {
    width: 100%;
    margin-top: 10px;
    min-width: 0px;
}
#medhack .vc_money {
    position: relative;
    left: 40px;
}

#medhack .vc_money .vc {
    height:240px;
    box-shadow: inset 0px 3px 3px 0px black;
    border-radius:12px;
}
#medhack .ribbon img{
    position: absolute;
    top: 180px;
    left:-3px;
    max-width: 180px;
}
/*Medhack fix*/
#medhack .ribbon img{
    position: absolute;
    top: 190px;
    left:10px;
}
#medhack .vc_money .vc {
    height:260px;
}
.cover_info{
    top:70px;
}
#location{
    text-align:right;
}
.main_blurbs{
    text-align: center;
    position: relative;
}
#medhack #main_blurbs{
    text-align: center;
    position: relative;
}
.main_blurbs h1{
    /*font-family: EngraversMT, DollarRegular, LegalTender, MuseoSlab500;*/
    line-height: 1.2em;
    margin-top: 20px;
}
#medhack #main_blurbs h1{
    font-family: EngraversMT, DollarRegular, LegalTender, MuseoSlab500;
    line-height: 1.2em;
    margin-top: 20px;
}
.main_blurbs p{
    line-height: 1.3em;
}
#medhack #main_blurbs p{
    line-height: 1.3em;
}

#register_buttons{
    margin-top: 20px;
}
#register_buttons .build_things span, #register_buttons .back_things span, #register_buttons .fix_people span{
background-position: center;
padding: 5px 5px 10px 40px;
position: relative;
left: -5px;
}
#register_buttons .build_things span{
    background: url("/images/icon_wrench.png") transparent no-repeat;
    background-size: 24px;
}
#register_buttons .tickets span{
    background: url("/images/icon_tickets.png") transparent no-repeat;
    background-size: 24px;
}
#register_buttons .back_things span{
    background: url("/images/icon_money.png") transparent no-repeat;
}
#register_buttons .fix_people span{
    background: url("/images/icon_people.png") transparent no-repeat;
    left: -22px;
}
.register p.line {
    position: absolute;
    top: 10%;
    left: 20%;
    border-left: solid 1px #666;
    min-height: 80%;
}

.register p.line.a {
    left: 21%;
    box-shadow: 1px 0 1px #777;
    box-shadow: 1px 0 1px rgba(77,77,77,.2);
}

.register p.line.b {
    box-shadow: 1px 0 1px #999;
    box-shadow: 1px 0 1px rgba(105,105,105,.8);
}
#register_buttons .idea_guy{
    margin-top: 20px;
}
#bottom_blurb{
    margin-bottom: 20px;
}
/***************** Next Event Box ****************/
#next_event_box{
    background: rgba(220,220,220, 0.8);
}
#next_event_inner{
    width: 220px;
    margin: 0 auto;
    padding: 8px 0;
}
#next_event_box p{
    color: #000;
    font-size: 14px;
}
#next_event_box h3{
    color: #f5f5f5;
    font-size: 1em;
}
#next_event_final{
    line-height: 30px;
    margin: auto;
    width: 185px;
}
#next_event_cost{}
#next_event_register{
    text-align:center;
}
#next_event_cost, #next_event_register{
    display: block;
    line-height: 20px;
    float: left;
    width: 80px;
}
.hr{
    padding: 3px 5px;
}
/***************** Banner ****************/

#banner{
    margin: 100px auto 0;
    line-height: 60px;
    width: 845px;
}
#banner:before, #banner:after {
    content: "";
    float: left;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 30px solid #eee;
    border-top: 30px solid #eee;
}
#banner:before {
    border-right: 15px solid #eee;
    border-left: 30px solid transparent;
    margin-right: -5px;
}
#banner:after {
    border-right: 30px solid transparent;
    border-left: 15px solid #eee;
    margin-left: -5px;
}

#banner_content{
    display: block;
    background: #eee;
    float: left;
    padding: 0 40px;
}
#banner_content a, #banner_content h2{
    display: inline-block;
    position: relative;
}
.banner_register.button{
    top: 2px;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 12px;
}
.banner_register.button span{
    font-size: 11px;
}
.banner_register.button.orange:active{
    top: 3px;
}
#banner h2{
    color: #252525;
    font-size:18px;
    width: 420px;
}

#tell_me_more{
    clear: both;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    text-align: right;
    width: 620px;
    margin: auto;
}

div.skin2 > div {
	min-height:315px;
}

/***********************************************/
/*****************   More Info   ***************/
/***********************************************/
#more_info_upper{
    /*background: #EEEEEE url("/images/bg_linen_dark.png") repeat;*/
    /*border-top: 10px solid #e2e5cf;*/
    margin-bottom: 40px;
}

/***************** Reasons to attend ****************/

#teaser_line em{
    font-style: italic;
    color: #fff;
}
#teaser_line h2{
    text-align: left;
}
#teaser_line #info_para{
    font-size: 22px;
}
#reasons_to_attend{
    position: relative;
}
#reasons_to_attend #arrow{
    position: absolute;
    top: 110px;
    left: 220px;
}
#reasons_to_attend #money{
    position: absolute;
    top: 400px;
    left: 120px;
}
#reasons_to_attend .em{
    font-size: 28px;
    color: #E84B07;
    font-weight: 700;
}
#reasons_to_attend p {
    font-size: 22px;
}
#reasons_to_attend .spacer{
    padding-top: 40px;
}
#your_team{
    padding-left: 80px;
}
.indent {
    padding-left: 15px;
}

/*TEMPORARY ID ... until more vcs register*/
#reasons_to_attend_temp{
    padding-top: 20px;
}
#reasons_to_attend_temp .em{
    font-size: 24px;
    color: #E84B07;
    font-weight: 700;
}
#reasons_to_attend_temp p {
    font-size: 16px;
}

/***************** VCs ****************/

#vcs, #team, #volunteers{
    text-align: center;
}
#team h2{
    margin-bottom: 20px
}
#vcs .vc{
    position: relative;
    width: 160px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
#medhack #vcs .vc{
    position: relative;
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

#vcs .vc.alpha{
    margin-left: 0;
}
#vcs .vc.omega{
    margin-right: 0;
}
#vcs .vc a, #team .member a{
    border-bottom: none;
    color: #222;
}
#vcs h4, #team h4{
    font-size: .9em;
}
#vcs p, #team p{
    font-size: .85em;
}
#vcs .vc, #team .member{
    padding-bottom: 20px;
}
#vcs .vc_image img{
    width: 125px;
    width: 150px;
}
#medhack #vcs .vc_image img{
    width: 125px;
}
#vcs .vc img, #vcs .vc_tag, #team .member img, #team .member_tag, .member img, .member_tag{
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -o-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    position: relative;
    z-index: 3;
    width: 100%;
}
#vcs .vc_tag, #team .member_tag, .member_tag{
    background: rgba(204,204,204, 0.85);
    margin: auto;
    padding: 7px 5px 5px 5px;
    border-radius: 0 0 3px 3px;
    text-shadow: 0 1px rgba(255,255,255,0.3);
    display: block;
    position: relative;
    z-index: 2;
    top: -3px;
    width: 110px; /*For smaller tag*/
    width: 132px;
}
#medhack #vcs .vc_tag, #medhack #team .member_tag{
    background: rgba(204,204,204, 0.85);
    margin: auto;
    padding: 7px 5px 5px 5px;
    border-radius: 0 0 3px 3px;
    text-shadow: 0 1px rgba(255,255,255,0.3);
    display: block;
    position: relative;
    z-index: 2;
    top: -3px;
    width: 110px; /*For smaller tag*/
}
#team .member_tag, #volunteers .member_tag{
    width:90%;
}
#volunteers img{
    width:140px;
}
#vcs .vc_tag h4, #vcs .vc_tag p, #team .member h4, #team .member p{
    color: #222 !important;
}

.judge img{
    width:125px;
}

/***********************************************/
/*************** More Info Lower ***************/
/***********************************************/
#more_info_lower{
    /*border-top: 10px solid #e2e5cf;*/
    padding-bottom: 40px;
    min-height: 360px;
}

#more_info_lower .section{
    padding-top: 0;
}


/***************** Prizes ****************/

#prizes{}
.prize{
    clear:both;
    margin-top: 25px;
    overflow:auto;
    
}
.prize p{
    font-size: 24px;
    margin-left: 40px;
}
.prize img{
    max-width: 120px;
}
.prize img, .prize p{
    display: inline;
    vertical-align: middle;
}

/***************** Schedule ****************/
#schedule{
    position: relative;
    margin-bottom:7px;
}
#medhack #schedule{
    position: absolute;
}
.schedule_specifics{
    text-align:left;
}
.schedule_specifics p{
    display:inline-block;
    width: 75px;
    vertical-align: top;
}
.schedule_specifics span{
    text-align:right;
    color: #999;
    width: 200px;
    display: inline-block;
}

.schedule_specifics li:nth-child(odd){
    background-color: rgba(35,35,35,.5);;
    }
/*.schedule_specifics li:nth-child(even)    { background-color:#fff; }*/
.day{
    padding-bottom: 20px;
}
.day h4{
    border-bottom: 1px solid #f5f5f5;
    padding-top: 10px;
}
.day li{
    padding-top:15px;
}
.med_sched .day li{
    padding: 10px;
}
.day h4, .day li, .day p, .day span{
    color: #f5f5f5;
}
.day .hour{
    text-align: right;
}


.sheet{
    position: absolute;
    min-height:246px;
    padding:5px 30px;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
    border:1px solid #666;
    border-width:0 1px 1px 1px;
    background: rgba(0,0,0,.7);
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
}
.sched_sheet_1{
    position: relative;
    bottom:0;
    z-index: 9;
}
.sched_sheet_2{
    bottom: -3px;
    z-index: 5;
    left: 2px;
    width: 314px;
}
.sched_sheet_3{
    bottom: -5px;
    z-index: 3;
    left: 4px;
    width: 310px;
}

/***************** End tagline ****************/
#info_line{
    padding: 45px 0 45px;
}
#info_line p{
    font-size: 22px;
    text-align: center;
}

/***************** Special Buttons ****************/
#mid_button, #final_button{
    margin: auto;
}

/***************** Sponsors ****************/

#sponsorFold{
    margin-top: 10px;
    /*border-bottom: 2px solid #CEC9AD;*/
    /*box-shadow: 0 1px 0 #f4f4f4;*/
}
#sponsorFold h2{
    display: block;
    font-size:18px;
}
#sponsorFold ul, #sponsorFold ul li {
    display: inline-block;
}
#sponsorFold a {
    border-bottom: none;
}
#sponsorFold h2{}
#sponsorFold ul{
    margin-top:5px;
}
#sponsorFold ul li{
    padding-left: 10px;
    /*height: 60px;*/
    /*display: table-cell;*/
    display: inline-block;
    vertical-align: middle;
    width:140px;
}
#sponsorFold ul li img{
    max-height: 90px;
    max-width: 130px;
}
#sponsors{
    clear:both;
    text-align: center;
    padding: 20px 0 0px;
}

.sponsor_container{
    margin-top:10px;
}

.sponsor {
    width: 220px;
    background:#E2E5CF;
    background: rgba(206, 201, 173, 1);
    border-radius: 1px;
    padding: 5px 0;
    margin-top: 10px;
    float: left;
    -moz-box-shadow: 0px 1px #999;
    -webkit-box-shadow: 0px 1px #999;
    -o-box-shadow: 0px 1px #999;
    box-shadow: 0px 1px #999;
    -moz-box-shadow: 0px 1px rgba(150,150,150,.5);
    -webkit-box-shadow: 0px 1px rgba(150,150,150,.5);
    -o-box-shadow: 0px 1px rgba(150,150,150,.5);
    box-shadow: 0px 1px rgba(150,150,150,.5);
}
#medhack .sponsor{
    width: 220px;
    background:#E2E5CF;
    background: rgba(5, 9, 6, .4);
    padding: 5px 0;
    margin-top: 20px;
    float: left;
}

.sponsor a{
    padding: 5px 0;
    border-bottom: none;
}
.sponsor .sponsor_big_link{
    color: inherit;
}
.sponsor h5{
    font-weight: bold;
}
.sponsor_container{
    margin: 10px auto 0;
}
.sponsor img{
    max-width: 200px;
    max-height: 110px;
    margin: auto;
    padding: 5px 0;
}
.top.sponsorBlock{
    margin-top:0;
}
.sponsorBlock{
    margin-top:40px;
}
.sponsor p{
    padding: 0 10px;
}

/*Venue*/
#venue .map a{
    border-bottom:none;
}

#venue img{
    -moz-box-shadow: 0px 1px #999;
    -webkit-box-shadow: 0px 1px #999;
    -o-box-shadow: 0px 1px #999;
    box-shadow: 0px 1px #999;
}


/*Quote*/
#quote_block{
    margin-top: 40px;
    /*background: rgba(0, 0, 0, .25);*/
}
#quote{
    padding: 10px 0;
}

#quote span{
    font-size: 16px;
    color: #AAA;
    font-weight: 300;
}
/********************************************************/
/*	 		Footer	 			*/
/********************************************************/
#footer{
    background: #414a59;
    text-align: left;
    position: relative;
    line-height: 40px;
    padding: 1rem 0 0;
}
#footer p, #footer label{
    padding-bottom: 10px;
    color: #f5f5f5;
}
/*All MC items refer to embedded Mail Chimp form*/
#mc_embed_signup{
    background:transparent;
    clear:left;
    font-size:14px;
    color: #aaa;
    line-height: 1.2em;
}
#mc_embed_signup form{padding: 0; margin-bottom:0}
#mc_embed_signup input.button{background-color: #93a7bb; background-color: #93a7bb; margin-bottom: 0; padding: 0 10px;}
#mc_embed_signup input.button:hover{background-color: #93a7bb; background-color: #93a7bb}
#mc_embed_signup input.email{margin-bottom:0}
#mc_embed_signup span{
    background: url("/images/lock.png") no-repeat center left;
    float: left;
    padding-left: 20px;
    margin-top:5px;
}
#footer a,#footer a:active,#footer a:visited,#footer a:hover{color: #fff;}
/****************************************************************/
/****************************************************************/
/*******************          MedHack        ********************/
/****************************************************************/
/****************************************************************/


body#medhack #lowerContent{
    background: #BDB99F url('/images/bg_crosshatch_tan.png') repeat;
}
#medhack_register iframe{
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}


#medhack #schedule{
    position: absolute;
}
#medhack .schedule_specifics{
    text-align:left;
}
#medhack .schedule_specifics span{
    text-align:right;
    float: right;
    color: #999;
}

#medhack .schedule_specifics li:nth-child(odd){
    background-color: rgba(35,35,35,.5);;
    }
/*.schedule_specifics li:nth-child(even)    { background-color:#fff; }*/
#medhack .day{
    padding-bottom: 20px;
}
#medhack .day h4{
    border-bottom: 1px solid #f5f5f5;
    padding-top: 10px;
}
#medhack .day li{
    padding-top:15px;
}
#medhack .med_sched .day li{
    padding: 10px;
}
#medhack .day h4, .day li{
    color: #f5f5f5;
}
#medhack .day .hour{
    text-align: right;
}


#medhack .sheet{
    position: absolute;
    min-height:246px;
    padding:5px 30px;
    -moz-box-shadow: 1px 1px 2px #000;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #000;
    border:1px solid #666;
    border-width:0 1px 1px 1px;
    background: rgba(0,0,0,.7);
    border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
}
#medhack .sched_sheet_1{
    position: relative;
    bottom:0;
    z-index: 9;
}
#medhack .sched_sheet_2{
    bottom: -3px;
    z-index: 5;
    left: 2px;
    width: 314px;
}
#medhack .sched_sheet_3{
    bottom: -5px;
    z-index: 3;
    left: 4px;
    width: 310px;
}



/******************************************/
/*Footer bar*/
/******************************************/

.footer_bar{
    margin-top: 20px;    
}

.footer_bar.floater.fixed{
    position: fixed;
    top: 0;
}

.footer_bar.floater{
    background: #333 url('/images/bg_crosshatch_trans.png') repeat;
    -moz-box-shadow: 0 1px 3px 0px #666;
    -webkit-box-shadow: 0 1px 3px 0px #666;
    -o-box-shadow: 0 1px 3px 0px #666;
    box-shadow: 0 1px 3px 0px #666;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 0;
    position: relative;
    width: 100%;
    border-top: #999 solid 1px;
}
.footer_bar_inner{
    width: 960px;
    margin: 0 auto;
}
.floater .footer_bar_inner{
    padding: 5px 10px;
    /*height: 20px;*/
}
.email_form{
    width: 60%;
    display: inline-block;
    position: relative;
    left: 70px;
}
.cant_make{
    /*margin-left: 10%;*/
}
.foot_bar_item{
    display: inline-block;
    margin-right: 10px;
}
.floater .foot_bar_item{
    color: #F4F4F4;
}

.foot_bar_email{
    width: 70%;
    display: inline-block;
}
#attend_register{
    display: inline-block;
}
.register.button.foot_bar_item{
    padding: 8px 18px 8px 18px;
}
.footer_bar #mc_embed_signup input.email{width: 59%; min-width: 160px;}
.footer_bar #mc_embed_signup input.button{background-color: #999; margin-bottom: 0; width: 35%; min-width: 140px;}
.footer_bar #mc_embed_signup input.button:hover{background-color: #aaa; }


/******************************************/
/* Sponsor Carousel*/
/******************************************/

ol.bjqs-markers {
    position: absolute;
    bottom: 10px;
}

ol.bjqs-markers li a {
    display: block;
    height: 10px;
    width: 10px;
    border: 2px solid white !important;
    overflow: hidden;
    text-indent: -9999px;
    background: #CEC9AD;
    background:none;
    /*border-radius: 10px;*/
    border-radius: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

ol.bjqs-markers li.active-marker a{
    background: #060;
}


.padder.spacer{
    min-height:42px;
    padding-top: 0;
}

a.piclink{
    border-bottom:none;
}
