/*Styles for the other pages*/

$blue_lt: #93a7bb; 
$blue_med: #567;
$blue_dark: #414a59;

$white: #f8f8f8;

/****************************************************************/
/*******************     Applies to all      ********************/
/****************************************************************/
#signup_header{
    text-align: center;
    padding-bottom: 40px;
}

#middleInfoInner{

    .data{
        padding-bottom: 4rem;
        
        h3{
            text-align: center;
            & + p{ text-align: center;}
        }
    }
    
    &>div.middle_headline{
        text-align: center;
        padding: 4rem 0 1.5rem;
        font-size: 1.125em;
        
    }
    h2, h3{
            font-weight: 500;
            color: $blue_dark;
            & + p{
                font-size: 1.3rem;
                font-size: 1.125em;
                line-height: 1.3em;
                color: #777;
            }
        
        }
    h4{
        color:$blue_dark;
        font-weight: 500;
    }
     

    
    /*&>div:last-child{   //not needed if doing all "data" elements have a built-in padding-bottom
        padding-bottom: 4rem;
    }*/
}

.button{
    margin-bottom: 0;
    padding: 0.5625rem 2rem 0.5rem;
    background-color: $blue_med;
    &:hover{border-bottom: none;}
}

p.quote{
    padding: 2rem;
    background: #fff;
    font-weight: 400;
    display: inline-block;
    padding: 1rem;
    
    span{
        float: right;
        font-weight: 200;
        font-style: italic;
    }
}

.helper{ // Used for spans to align images vertically
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

a{
    span.overlay{  // Used for making an entire block of content clickable
          position:absolute; 
          width:100%;
          height:100%;
          top:0;
          left: 0;

          /* edit: added z-index */
          z-index: 1;

          /* edit: fixes overlap error in IE7/8, 
             make sure you have an empty gif */
          background-image: url('../images/empty.gif');   
    }
}

/****************************************************************/
/*******************        More Info        ********************/
/****************************************************************/
#list_sponsors{
    float:right;
}
.listed_sponsor{
    margin: 20px 0;
}
.listed_sponsor a{
    border-bottom: none;
}
.listed_sponsor img{
    max-width: 160px;
}

#homepage_about{
    #middleInfoInner{
        h3{
            text-align: left;
            
            
            & + p{
                font-size: 1rem;
                color: #000;
                text-align: left;
            }    
        }
    }
}

/****************************************************************/
/*******************     Home_Accelerate     ********************/
/****************************************************************/
#middleInfoInner{
    #industry_partners, #investors{
        li{
            text-align: center;
            height: 5rem;
            line-height: 5rem;
        
            img{
                max-height: 4rem;
                max-width: 9rem;
                vertical-align: middle;
                &.partner_company{max-height: 3rem; max-width: 12rem}
                
            }
        }
    }
    
    
    .program_grid{
        & > div{
            margin-bottom: 1rem;
            padding: 0.825rem;
            background: $blue_med;
            & > p{
                margin-bottom: 0;
                color: #fff;
                
                &:last-child{
                    text-align: right;
                }
            }
            
        
        }            
    }
    
    #industry_partners{}
    #investors{
        text-align: center;
    }
    #stay_connected{
        padding:0;
    }
}


/****************************************************************/
/*******************  Attendee registration  ********************/
/****************************************************************/

#register_buttons{
    margin: 20px 0 40px;
}
#register_or p{
    font-size: 28px;
    padding-top:10px;
}
#register_buttons .register_button {
    border-bottom:none !important;
}



#have_invite, #need_invite {}
#eventbrite{}

#invite{
    padding: 10px;
    background: rgb(133,133,133);
    background: rgba(0,0,0,.3);
}

.important_list h2, .important_list h4{
    text-align: center;
}

.important_list h2{
    padding-bottom: 10px;
}

.important_list h4{
    padding-top: 10px;
}

.important_list li{
    color: white;
    font-size: 20px;
    margin: 10px 15px;
    padding: 10px;
    background: rgba(12, 12, 12, .13);
    text-align: center;
}

#saveForm.submit{
        margin-bottom: 0;
        padding: 0.5625rem 2rem 0.5rem;
        background-color: $blue_med;
        color: white;
        border:none;
        &:hover{border-bottom: none;}
    }

#wufoo-outer-container {
    padding: 0px;
    margin: 0px;
    background: #fff;
}

    

/****************************************************************/
/*******************        Sponsors         ********************/
/****************************************************************/
#sponsorships_page{
    padding: 40px 0 20px;
}
.sponsorships_info {
    margin-bottom: 50px;
}
.sponsorships_info h1, .sponsorships_info h2{
    margin-bottom: 10px;
}

/*.sponsorships_info h2{*/
/*    margin-top:40px;*/
/*}*/

.active .sponsor_grid{
    background: #dEd9bD;
    /*background: rgba(100,100,100,0.2);*/
    transition: background 0.4s;
    -moz-transition:background 0.4s; /* Firefox 4 */
    -webkit-transition:background 0.4s; /* Safari and Chrome */
    -o-transition:background 0.4s; /* Opera */
}
.sponsor_grid{
    background: #CEC9AD;
    padding: 10px;
    /*border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;*/
}

.sponsor_grid h2{
    border-bottom: solid #f5f5f5 1px;
    margin-bottom: 10px;
    font-size: 14px;
}
.sponsor_grid h3{
    font-size: 22px;
}
.sponsor_grid p{}
.sponsor_grid .link{
    margin-top: 20px;
    color: #f5f5f5;
}
#sponsor_bottom{
    /*background: #EEEEEE url("/images/bg_linen_dark.png") repeat;*/
    border-top: 2px solid #e2e5cf;
}
.more_sponsor{
    margin: 30px 0 30px 5px;
    padding: 10px;
    background: #CEC9AD;
    min-height:400px;
    min-width: 620px;
}
.learn_more_inner ul li{
    padding-left: 20px;
    list-style-type: disc;
    list-style-position: inside;
}
.faq_answer .negspace{
    top: -60px;
}


/***************** Large Banner ****************/

lg_banner.left, .lg_banner_right{
    margin: 0 auto 0;
    line-height: 130px;
    width: 845px;
}
.lg_banner.left{
    text-align: right;
}
.lg_banner.left:before, .lg_banner.right:after {
    content: "";
    float: left;
    display: block;
    width: 0;
    height: 0;
    border-bottom: 65px solid #c1c1c1;
    border-top: 65px solid #c1c1c1;
}
.lg_banner.left:before {
    border-right: 15px solid #c1c1c1;
    border-left: 65px solid transparent;
    margin-right: -5px;
}
.lg_banner.left::after {
    border: 2px dotted rgba(15, 15, 15, 0.8);
    content: "";
    float: left;
    display: block;
    line-height: 134px;
    height: 131px;
    top: -3px;
    position: relative;
    left: -2px;
    z-index: 3;
}
.lg_banner.right::before {
    border: 5px solid rgba(25, 25, 25, 1);
    content: "";
    float: left;
    display: block;
    line-height: 134px;
    height: 131px;
    top: -5px;
    position: relative;
    left: 5px;
    z-index: 1;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}
.lg_banner.right:after {
    border-right: 65px solid transparent;
    border-left: 15px solid #c1c1c1;
    margin-left: -5px;
}



/*box-shadow: -4px 0 5px -1px rgba(195,195,195,.6);*/
.lg_banner_content{
    display: block;
    background: #c1c1c1;
    float: left;
    padding: 6px 20px;
    position: relative;
    z-index: 2;
}
.lg_banner_content a, .lg_banner_content h2{
    display: inline-block;
    position: relative;
}

.lg_banner h1{
    color: #151515;
}
.lg_banner p{
    color:#252525;
    margin-bottom: 5px
}


/****************************************************************/
/*******************        Ignition         ********************/
/****************************************************************/
.color_scheme_blue{
    h1,h2,h3,h4,p, ul li, ul, #links li a{
        color: #000;
        text-shadow: 0 1px rgba(255,255,255,0.1);
    }
}

#event_home{
    > h4, > p{
        display: inline-block
    }
    h4{
        width: 120px;
        float: left;
    }
    > p{
        width: 85%;
        margin-bottom: 15px;
    }
    
    #programs{
        margin-bottom: 15px;
    }
}




/****************************************************************/
/*******************            FAQ          ********************/
/****************************************************************/
.faq_col.top{
    margin-top:0px;
}
.faq_col{
    margin-top:25px;
}
.faq_col li{
    margin-left:10px;
}

#faq_answers > h3, #faq_answers > h4{
    margin-top: 30px;
    margin-left: 10px;
}
.faq_answer.top{
    margin-top: 0;
}

.faq_answer{
    margin-top: 20px;
    padding: 10px;
    background: rgba(0,0,0,.07);
    border-radius: 6px;
}

#new_faq .faq_col li{
    margin-left: 0;
    margin-top: 10px;
}


#new_faq .faq_answer{
    margin-top: 0;
    padding: 0;
    background: transparent;
    border-radius: 0;
}
.totop{
}

/****************************************************************/
/************  Conversations / speaker panel event  *************/
/****************************************************************/
.boxed_info{
    box-sizing: border-box;

    & > p{
        padding: 3px 10px;
        background-color: $blue_med;
        color: $white;
    }
}

.speaker_list{
    span{
        background: $blue_med;
        /*top: -4px;*/
        padding-top: 5px;
        padding-bottom: 5px;
    }
    p:first-child{
        margin: 0.875rem 0;
    }
    p{
        color: $white;
        line-height: 1.2;
    }
}

#upcoming_event{
    padding: 2em 0 2.5rem;
    
    .event_info{
        font-size: 1.15rem;
    }
}

#stay_connected{
    
    background: rgb(228,230,230);
    
    #stay_connected_inner{
        padding: 2.5rem 0;
    }
    
    form, p, .button{margin-bottom: 0;}
    
    #connected_text{}
    #connected_form, .wufoo-form-container, #wufoo-outer-container{
        margin-top: 1rem;
        
        .button{
            padding: 0.5625rem 2rem 0.5rem;
            background-color: $blue_med;
        }
    }
}





/********   Size specific   ********/

@media (max-width: 40em){
        #header_text{
            
            &>:first-child{padding-top: 0rem;}
            &>:last-child{padding-bottom: 0.8rem;}
            
            h1{
                font-size: 1.5rem;
                font-weight: 300;
            }
            
            p {font-size: 1.2rem;}
        }
        
        .speaker_list{
            h3{font-size: 1rem}
            p {font-size: 0.8rem}
        }
        
        .boxed_info{
            p{font-size: 1rem;}
        }
    }
    @media (min-width: 40.063em){
        #header_text{
            &>:first-child{padding-top: 60px;}
            &>:last-child{padding-bottom: 40px;}
        }
       
        .speaker_list{
            h3{font-size: 1rem}
            p {font-size: 0.8rem}
        }
         
         .boxed_info{
            p{font-size: 1.4rem;}
         }
    }
    @media (min-width: 64.063em){
        #header_text{
            &>:first-child{padding-top: 3rem;}
            &>:last-child{padding-bottom: 2.9rem;}
        
        }
       
       .speaker_list{
            p:first-child{font-size: 1.2rem}
            /*p {font-size: 1rem}*/
        }
        
        .boxed_info{
            p{font-size: 1.6rem;}
        }
    }

/****************************************************************/
/*****************        Home Engage          ******************/
/****************************************************************/

#entrepreneur_innovation{
    p.quote{
        margin-top: 1rem;
    }
}
#demographics{
    table{
        width: 100%;
    }
    span{
        float: left;
        width: 3rem;
        text-align: right;
        padding-right: .5rem;
        font-weight: 500;
    }
    th {
        font-size: 2.125rem;
        line-height: inherit;
        font-weight: 200;

        span{
            /*font-weight: 400;*/
        }
    }
    td{
        font-size: 1.125rem;
        span{

        }
    }
}


/****************************************************************/
/*****************        Events List          ******************/
/****************************************************************/

#events_page{
    .event_block{padding-bottom: 1.2rem;}
    
    h2:first-child {
        
        color: $blue_dark;
    }
    
    .event{
        padding-bottom: 1.2rem;
        
        & > div{
            /*display: inline-block;*/
            /*box-sizing: border-box;*/
        }
        
        div.event_name{
            font-weight: 500;
            /*width: 48.5%;*/
        }
        
        /*.event_date{width: 9%;padding-left: 0.9375rem}*/
        /*.event_location{width: 18%}*/
        /*.event_description_link{width: 12%;}*/
        .event_link{
            /*width: 9%;*/
            &.register{
                /*width:21%;*/
                /*padding-right: 0.9375rem;*/
                }
        }
        
        .event_description{
            & > div{padding-top:1.2rem; padding-bottom: 1.2rem}
            .register_description {

                box-sizing: border-box;
                /*margin-top: 0.8rem;*/
                
                p:first-child{font-size: 1.3rem;font-weight: 100;color: $blue_dark;}
            }
            
            .register_tickets{
                /*width: 60%;
                float: right;
                margin: 10px 0 15px;*/
                /*margin-top: 0.8rem;*/
            }
        }
        
        
        .arrow_down {
            display: inline-block;
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #2f2f2f;
            font-size: 0;
            line-height: 0;
            top: -2px;
            position: relative;
            margin-left: 2px;
        }
    }
}


/****************************************************************/
/*******************    Monthly challenges   ********************/
/****************************************************************/

#homepage_monthly{
    #headerImg{
        opacity: 0.25;
    }

    .social{
        &:hover{
            border-bottom: 0;
        }
    }

    #upper_email{
        input{
            margin-bottom: 0;
        }
    }

    #middleInfoInner{
        #challenge_title{
            margin-top: 25px;
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: solid 1px $blue_lt;

            h4.lead{
                font-size: 1.125rem;
                color: #666;
                font-weight: 300;
            }
        }
    }

    #sponsor_info{
        background: #fff;
        margin-left: 0.9375rem;
        box-shadow: 0px 1px 3px rgb(185,185,185);
        box-shadow: 0px 1px 3px rgba(185,185,185, 0.8);
        h4{margin-bottom: 0;}
        img{ 
            max-width:100%;
            max-height: 100%;
            padding:1rem 0;
        }
        p{
            margin-bottom: 0;
        }
    }

    #apply_button{
        span{
            font-weight: 100;
            font-size: 1rem;
        }
    }

    #challenge_apply{
        margin-top: 4rem;    

    }

    #winners{

        .winner{
            display: inline-block;
            text-align: left;
            float: none;
            margin-bottom: 0.935rem;
            
            .winner_inner{
                background: #fff;
                box-shadow: 0 0 1px $blue_dark;
            }

            a{
                span{
                      position:absolute; 
                      width:100%;
                      height:100%;
                      top:0;
                      left: 0;

                      /* edit: added z-index */
                      z-index: 1;

                      /* edit: fixes overlap error in IE7/8, 
                         make sure you have an empty gif */
                      background-image: url('../images/empty.gif');   
                }
            }
            p{
                font-weight: 300;
                margin: 0;
                padding: 0.75rem
            }
            p.title{
                font-weight: 500;
                padding-bottom: 0;
            }

            .img_container{
                height: 180px;
                overflow: hidden;
                img{
                    width: 100%;
                    // max-height: 100%;
                }
            }
            
        }
    }
    #past_challenges{
        .past_challenge{
            &:hover{
                .challenge_img, .challenge_info{
                    box-shadow: 0 0 2px $blue_dark;
                }
            }

            .challenge_img{
                box-shadow: 0 0 1px $blue_dark;
                height: 180px;
                background: #fff;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .challenge_info{
                box-shadow: 0 0 1px $blue_dark;
                background: $blue_dark;
                p{
                    color: $white;
                }
                p.challenge_date{
                    color: #ccc;
                    font-size: 0.8rem;
                    padding-bottom: 0;
                    margin-top: 0.75rem;
                    margin-bottom: 0.125rem;
                }
                p.challenge_sponsor{
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    margin: 0;
                    font-weight: 400;
                }
                p.challenge_blurb{
                    margin: 0.75rem 0;
                    font-weight: 300;
                    line-height: 1.25rem;
                }
            }
        }
    }

    #ecosystem{
        $eco-img-height: 5.5rem;
        ul li{
            height: $eco-img-height;
            white-space: nowrap;
            text-align: center;
            margin-bottom: 0;
            padding-bottom: 0;
            img{
                vertical-align: middle;
                max-width: 100%;
                max-height: $eco-img-height;
                // padding: 1.25rem 0;
            }
        }
    }

    #corporate{
        .row{
            margin-bottom: 1.25rem;
        }

        #email_us{
            p{
                font-size: 1.5rem;
            }
        }
    }

    #faq{
        span{
            font-weight: 500;
        }
    }


}
