<nav class="medium-12 large-8 show-for-medium-up columns">
    <ul id="links">
        <li class="" id="link_about"><a href="/about">About</a></li>
        <li class="" id="link_program"><a href="/accelerate">Prebacked Program</a></li>
        <!-- <li class="" id="link_events"><a href="/events">Events</a></li> -->
        <li class="" id="link_medhack"><a href="/medhack">MedHack</a></li>
        <li class="" id="link_blog"><a href="http://blog.prebacked.com">Blog</a></li>
        <!--<li class="" id="link_contact"><a href="/contact">Contact</a></li>-->
        <!--<li class="last"><a href="/people">People</a></li>-->
        
    </ul>
</nav>
