<aside class="left-off-canvas-menu">
    <ul class="off-canvas-list">
        <li><label>Prebacked</label></li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Company & Values</a></li>
            <!--<li><a href="/history">History</a></li>-->
            <!--<li><a href="/team">Team</a></li>-->
            <!--<li><a href="/jobs">Jobs</a></li>-->
            <li><a href="blog.prebacked.com">Blog</a></li>
            <!--<li><a href="/contact">Contact</a></li>-->
        
        <li><label>Prebacked Program</label></li>
            <li><a href="/accelerate">Program Information</a></li>
            <li><a href="/engage">For Corporations</a></li>
            <li><a href="/people">Mentors and Friends</a></li>
            <!--<li><a href="/ignition">Ignition</a></li>-->
            
        <!-- <li><label>Events</label></li> -->
            <!-- <li><a href="/events">Events</a></li> -->
            <!-- <li><a href="/medhack">MedHack</a></li> -->
            <!-- <li><a href="/conversations">Conversations</a></li> -->
            <!-- <li><a href="/event_board">Event Board</a></li> -->
        
    </ul>
</aside>