<div id="sub_link_bar">
    <div id="" class="linkBarInner row">
    
        <div id="" class="logoarea small-12 medium-4 large-4 large-uncentered columns">
            <a href="/accelerate" class="show-for-medium-up">
                <h2 class="piclink show-for-medium-up">
                    Program
                </h2>
            </a>
        </div>
        
        
        <nav class="medium-8 large-8 show-for-medium-up columns">
            <ul id="links">
                <li class="" id="link_engage"><a href="/engage">For Corporations</a></li>
                <!-- <li class="" id="link_portfolio"><a href="/portfolio">Portfolio</a></li> -->
                <li class="" id="link_people"><a href="/people">Mentors and Friends</a></li>
                <!-- <li class="" id="link_ignition"><a href="/ignition">Ignition</a></li> -->
                
            </ul>
        </nav>
    </div>
</div>