<div id="sub_link_bar">
    <div id="" class="linkBarInner row">
    
        <div id="" class="logoarea small-12 large-4 large-uncentered columns show-for-large-up">
                    {%if url%}
                        
                        <p>{{url|capfirst}}</p>

                        {# goal of below code is to include breadcrumbs. It didn't work well and needs a lot of time to massage. Punted #}
                        {# {%if url == "accelerate" %} #}
                            {# <h2>{{url|capfirst}}</h2> #}
                        {# {%else%} #}
                            {# <h4><a href="accelerate"> Program </a> / {{url|capfirst}}</h4> #}
                        {# {%endif%} #}
                        
                    {# Catchall in case URL doesn't work #}
                    {%else%}
                        Program
                    {%endif%}   

                </h2>
        </div>
        
        
        <nav class="medium-12 large-8 show-for-medium-up columns medium-centered">
            <ul id="links">
                <li class="" id="link_accelerate"><a href="/accelerate">Program</a></li>
                <li class="" id="link_engage"><a href="/engage">For Corporations</a></li>
                <li class="" id="link_monthly"><a href="/monthly">Monthly Challenge</a></li>
                <!-- <li class="" id="link_portfolio"><a href="/portfolio">Portfolio</a></li> -->
                <li class="" id="link_people"><a href="/people">Mentors</a></li>
                <!-- <li class="" id="link_ignition"><a href="/ignition">Ignition</a></li> -->

            </ul>
        </nav>
    </div>
</div>