// ===========================================================

//  Author: Patrick Siren ( @patsiren )
//  Document: MedHack form styles

// ===========================================================


#mc_embed_signup {
  display: block;
  position:relative;
  text-align: left;
  margin: 0 auto; 
  padding: 1.25%; // = 18 / 1440
  border: 1px solid rgba(151,151,151,0.20);
  border-radius: $default_border_radius;
  background-color: white;
}

#mc-embedded-subscribe-form {
    @media screen and (max-width: 768px) {
    text-align:center;
  }
}

#mce-EMAIL {
  display: inline-block;
  width: 61.7021277%; //= 580px / 940px
  padding: 1.66666667% 0; //= 50px / 300px 
  font-size: 1.25em; // = 20px / 16px
  border-radius: $default_border_radius;
  border-style: none; // reset default border
  border: solid 2px #BCBCBC;
  background-color: #ECEBEB;
  color: #BCBCBC;
  padding-left: 10px;

  @media screen and (max-width: 768px) {
    display: block;
    width: 93.75%; //= 720 / 768
    padding: 2.6041667%; //= 20 / 768 
    margin: 0 auto;
  }

}

#mce-embedded-subscribe { 
  width: 31.9148936%; //= 300px / 940px

  @media screen and (max-width: 768px) {
    display: block;
    position: relative;
    width: 100% !important;
    margin: 0 auto;

  }

} 
  