img { max-width: 100%; }

#logo, #event-logo {
  display: block;
  position: relative;
  margin: 1.9148936%  auto; //= 36px / 940px 
  
  @media screen and (max-width: 520px) {
    max-width: 9.375em; //= 150px / 16px
  }
}

#logo { max-width: 14.375em; } //= 230px / 16 

#event-logo { 
  max-width: 11.25em; //= 180px / 16px


} 

%sponsor {
  display: inline-block;
  margin: 0 0 0 1.0638298%; // = 10px / 940px
  line-height: 0;   
  vertical-align: middle;
  height: 100%;
  height: 125px;
  line-height: 125px;
  background: $silver;
  margin: 0 0.5319149% 1.0638298% 0;
  img {
    vertical-align: middle;
    padding: 0 10%;
    max-width: 80%;
  }
}

.sponsor { 
  @extend %sponsor; 
  display: inline-block;  
  position: relative;
  width: 14.375em; //= 230px / 16px
}

.featured-sponsor {
  margin: 0 0 5.7446809%; //= 54px / 940px
  
  img { 
    float: left;
    max-width: 18.625em; // max-width: 25.625em;  //= 410px / 16px - Created HUGE images and looked strange
    width: 100%;
    padding-right: 1.625em;

  }
  p { 
    width: 31.25%; 
    display: inline-block; 
    text-align: left; 
    line-height: 1.5em;
    // margin: 0 0 0 3.4375em;
     }

  @media screen and (max-width: 768px) {
    img { 
      float: none; 
      margin: 0 auto; }

    p { width: 53.3854167% ;}//= 410 / 768 

  }

  @media screen and (max-width: 600px) {
    
    p { width: 68.3333333% ;}//= 410 / 600 
  }

  @media screen and (max-width: 520px) {
    
    p { width: 78.8461538% ;}//= 410 / 520 
  }  

}

.featured-event-sponsor {
  @extend %sponsor;
  display: inline-block;  
  position: relative;
  max-width: 14.375em; //= 230px / 16px
  margin-right: 0;
}

.past-sponsor {
  @extend %sponsor;
  width: 26.5957447%; // 250px / 940px
  padding: 5.3191489% 0; //= 50px / 940px
  border-radius: $default-border-radius;
  background-color: $purple-darker;
  margin: 0 0.5319149% 1.0638298% 0; //= 5px, 10px / 940px
  
  img { margin: 0 auto; }

  @media screen and (max-width:768px){
    width: 40%;
    padding: 6.5104167% 2.6041667%;//= 50,20 / 768
  }
  
}

