.judge {
  overflow: hidden;
  display:inline-block;
  max-height: 31.25em; //= 500 / 16
  width: 15.625em; //= 250 / 16
  margin: 0.5319149%; //= 5 / 940
  
  // Transition styling ONLY

  img { 
    display: block;
    position: relative;
    z-index: 1;
    top: 0em;
    width: 100%;
    margin: 0 auto; 
    background-color: $silver;
    
    @include transition(all, 0.16s, linear);
  }
  
  .label {
    bottom: 0em;
    z-index: 2;

    @include transition(all, 0.16s, linear);
  }


  &:hover {
    img { top: -12.5em; } //= 250 / 16
    .label { bottom: 15.625em; } //= 250 / 16
  }

  @media screen and (max-width: 800px) {
    // block reset
    display: block;
    position: relative;
    z-index: 0;
    max-height: 100%;
    margin: 2.5% auto; // 20 / 800
    width: 38.75em; //= 620 / 16

    img { 
      top: auto;
      float: left;
      width: 12.5em;
    }

    &:hover {
    img { top: 0em; } //= 200 / 16
    .label { bottom: 0em; } //= 200 / 12
    .description { color: $silver; } }

    @include transition(none);

    @media screen and (max-width: 520px){
      width: 90% !important;//= 500/ 520
      padding: 3.8461538%; //= 20 / 520
      
      img, .label, .description { 
        display:block;
        position: relative;
        float: none;
        text-align: center;
      }
    }
  }
}

.label {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1.25em 0; //= 20 / 16 
  color: $silver;
  text-align: center;
  background-color: $purple_mid;

  p {
    margin: 0 auto;
    padding: 0 0.625em; //= 10 / 16
    font-size: 0.875; //= 14 / 16
  }
  
  .name { font-weight: bold }

  .details { font-size: 0.8125em; } //= 12 /16

  @media screen and (max-width: 800px) {
    display: block;
    position: relative;
    z-index: 0;
    float: right;
    width:60%;
    padding: 0;
    text-align: left;
    font-size: 1em;
    color: $purple_light;
    background-color: transparent;

    @include transition(none);

    p { padding: 0;}

    .name { 
      color: $silver;
      font: {
        size: 1.142857143em; //= 16/14
        weight: bold;
      }
    } 

    .details { font-size: 1.076923077em; } //= 14/13
  }

  @media screen and (max-width: 520px){
    margin: 0 auto;

    p {margin: 0 auto;}
  }
}

.description { 
  display: block;
  position:relative;
  top: -18.75em; //= -300 / 16
  z-index:0; 
  height: 16.125em; //= 258 / 16 
  padding: 1.25em; //= 20 / 16
  margin: 0 auto;
  background-color: $purple_dark;
  
  font-size: 0.875em;
  text-align: left;
  color: $silver;
  
  @media screen and (max-width: 800px) {
    display: block;
    position: relative;
    z-index: 0;
    float: right;
    width: 60%;
    height: auto;
    padding: 0;
    top: auto;
    background-color: transparent;
    text-align: left;
    font-size: 1em;
    color: $silver;

    @include transition(none);

  }
}

  

