/* Sponsors */

// Attendees =============================

#sponsor-header { 
  padding: 0em 0 0 0; 
  text-align: left;
  
  .content { margin-top: 03.75%; } // = 54px / 1440px 
  
  h1, h2 { margin-top: 0; }



  @media screen and ( max-width: 768px ) {
    text-align: center;
    
    h2, p { padding: 0 0 0 20px; }
    
    h2 {
      padding-top: 48px;
      text-align: left;
      
      .i {color: inherit;} 
    }

    p { text-align: left; }
  }
}

// Quotes =============================
// Not sure why this was removed, it's quotes I added to the sponsors page. Is there a better place for this?
.content{
  .quote{
    width: 80%;
    padding-left: 10%;
    padding-top: 1.3888889%;
    
    img, div{
      vertical-align: middle;
      display: inline-block;
      position: relative;
      // float: left;
    }
    img{
      width: 10%;
      position: relative;
      border-radius: 5rem;
    }
    div{
      width: 88%;
      margin-left: 1%;
      // margin-top: 1rem;

      .attributed{
        font-weight: 100;
        font-style: italic;
        color: $purple_light;
      }
    }
    &.left{
      // img{float: left;}
      // div{float: left;}
    }
    &.right{
      // float: right;
      padding-right: 10%;
      img{
        left: 90%;
        // float: right;
      }
      div{
        // float: right; 
        right: 10%;
        margin-left: 0; 
        margin-right: 1%; 
        text-align: right;}
    }
    @media screen and (max-width: 520px){
      width: 95%;
      padding: 5% 3%;
      img{
        width: 23%;
      }
      div{
        margin-top: 0;
        width: 70%;
        margin-left: 4%;
      }
      &.right{
        
        img{
          left: 74%;
          // float: right;
        }
        div{
          // float: right; 
          right: 25%;
          margin-left: 0; 
          // margin-right: 5%; 
        }
      
      }
    }
  }
  &>:first-child.quote{
    padding-top: 0%; // Fix for spacing with the first element of a quote. Makes it possible to have multiple quotes all spaced correctly.
  }
}



// Registration Schedule ===========================

.schedule-left { float: left; } 

.schedule-right { float: right; }

.schedule-left, .schedule-right {
  display: block;
  position: relative;
  width: 50%; 
  font-size: 1.25em; //= 20/16
  
  ul { 
    display: block;
    position: relative;
    text-align: left;
    margin: 0 0 0 10.6382979%; //= 100 / 940
    
  }

  li { 
    margin: 1.5em 0; //= 20px / 300px 
    
  } 

  @media screen and ( max-width: 768px ){ 
    font-size: 1em;//= 18/20
    padding: 0;
    
    ul { 
      padding: 0; 
      overflow: visible; 
      margin: 0 0 0 23.4375%; //= 180 / 768
    }
  }

  @media screen and ( max-width: 520px ){
    ul { font-size: 0.888888889em; } //= 16 / 18
   }


}



// Attendees =============================

.attendee-left { float: left; }

.attendee-right { float: right; }

.attendee-left, .attendee-right,  {
   display: block;
   position: relative;
   width: 48.3870968%; //= 300px / 620px
   margin: 0 auto;
   
   @media screen and (max-width: 768px) {
      float: none;
      margin: 0 auto;
    }
 }

// @media screen and (max-width: 900px){
//   .attendee-left, .attendee-right { float: none; }
// }

%attendee {
  display: block;
  position: relative;
  width: 100%;
  border: solid 2px $silver;
  border-radius: $default_border_radius;
  text-align: center;
  font-weight: bold;
  
  p {
    max-width: 80%; 
    position: relative;
    margin: 0 auto;
  }

  .i { color: $purple_light; }

  @media screen and (max-width: 768px){
    border: none;
    border-radius: 0;
    padding: 0; 

    p { 
      max-width: 100%;
      font-size: 1.5em; }  //= 24/16 
  }
}

#attendee-volume {
  @extend %attendee;
  max-height: 19.375em; // 310 / 16
  font-size: 2.25em; //= 36/16

  padding: 31% 0; //= 93/305

  p {
    width:50%;
    position: relative;
    margin: 0 auto; }

  @media screen and (max-width: 768px) {
    padding: 7.7419355% 0; //= 24 / 310
    border-bottom: 2px solid $silver;
    font-size: 1.5em; //= 36/24

    p { width: 100% }

  }

}

#attendee-devs {
  @extend %attendee;
  padding: 18% 0; //= 54px / 285.172px
  font-size: 1.5em; // 24px / 16px

  @media screen and (max-width: 768px){
    padding: 0;
    margin: 7.7419355% auto; //= 24/310
    font-size: 1em; //= 24/24
  }

}

#attendee-PHD {
  @extend %attendee;
  margin: 4% 0; //= 25px / 620px
  padding: 9% 0; //= 28px / 285.172px
  font-size: 1.125em; //= 18px / 16px

  @media screen and (max-width: 768px){
    padding: 7.7419355% 0; //= 24 / 310
    margin: 3.8709677% auto; //= 24/620
    font-size: 1em; //= 36/24
  }
}

#attendee-solo {
  @extend %attendee;
  padding: 3% 0; //= 11.5 / 285.172px
  font-size: 0.75em; // 12 / 16
 
  @media screen and (max-width: 768px){
    padding: 0;
    margin: 3.8709677% auto; //= 24/620
    font-size: 1em; //= 36/24
  }
}


// Tiers + Benefits =============================

.program {
  width: 36.5853659%; //= 300px / 820px (width of .benefits)
  margin: 0 0 0 9.7560976%; //= 80px / 820px
  
  h4 { font-size: 1.5em; }

}

.spons-priv { 
  text-align: left; 
  margin: 0 0 5.8536585% 7.804878%; //= 48px / 820px, 64 / 820

}

.price {
  font-size: 1.125em;
  font-weight: bold;
  color: $purple_mid;
  // margin-bottom: 5.3333333%; //= 16px / 300px
}

.includes { 
  width: 93.3333333%; //= 280px / 300px;
  color: #979797;
  font-size: 1em;
  line-height: 1.5em; 
}

 @media screen and (max-width: 800px) {
  .spons-priv,
  .program,
  .includes,
  .benefits { 
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.025em;
    text-align: center;

    p { width: 100%; }

    ul { 
      padding-left: 0;
      margin: 2.6041667% auto; } } //= 20 / 768

  .spons-priv{ margin: 0 0 5.2083333%; } //= 40 / 768

  .price { margin: 0 0 10px } //= 10 / 768
}



