<!DOCTYPE html>
  <head>
    <meta charset= "utf-8">
    <title>Medhack Hackathon</title>
    
    <!-- Set the width of the browser's viewport to the width of a device's screen -->
    <meta name= "viewport" content="initial-scale=1.0, width=device-width" />

    <!-- Set syndicate url for global access to the python database -->

    {%if url != "/"%}
      <link rel="canonical" href="http://prebacked.com/medhack">
    {%endif%}

    <!-- styles -->
    <link rel="stylesheet" href="../css/premier.css">
    
    <!--Open Graph (facebook) Properties-->
    <meta property="og:site_name" content="MedHack, by Prebacked"/>
    <meta property="og:url" content="http://prebacked.com/medhack/{{url}}"/>
    <meta property="og:description" content="A 24 hour healthcare hackathon."/>
    <meta property="og:title" content="A 24 hour healthcare hackathon | MedHack"/>

 </head>
 
 <body>
   
   <div id="container">      
     
     <header id="banner">
       
       <nav>
          <div class="nav-inner">
            <a href="/">MedHack</a>
            <ul class="nav-list">
              <a class="nav-link" href="#"><li>sponsors</li></a>
            </ul>
          </div>
        </nav> 

      <div class="content">
        <div id="logo" alt="MedHack Logo">
          <img src="/images/medhack/medhack-logo.png" alt="MedHack Logo">
        </div>
        <h1>Build awesome stuff that changes lives</h1>
        <p>MedHack is a competitive hackathon series that brings developers and medical experts together to share ideas and build awesome new healthcare technology</p>
        
        <a class="twitter" href="#">twitter</a>

        <a class="facebook" href="#">facebook</a></span>
      </div>
        
      </header>

<!-- Upcoming Events ====================== -->
      
      <section id="Cities" class="silver">
        <div class="content centered">

          <header><h3>Upcoming events</h3></header>
          
            {%for e in upcoming_events%}
            <div class="event">
              <img src="/images/icons/medhack-event-location.png" alt="MedHack Event Location">
              <h3>{{e.city}}</h3>
              <b>{{e.full_date|date:'M dS'}} - {{e.full_date|add_a_day|date:'M dS'}}</b>
              <a href="{{e.link}}" class="btn">See Details</a>
            </div>
            {%endfor%}

       
          <div id="mc_embed_signup">
            <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

              <input type="email" value="" name="EMAIL" class="left email" id="mce-EMAIL" placeholder="Email address" required>
                          
              <input type="submit" value="Subscribe to event announcemenets" name="subscribe" id="mc-embedded-subscribe" class="subscribe">
            </form>
          </div> <!-- end signup container -->
        </div> <!-- end content  container --> 

      </section>

<!-- Sponsors ======================== -->
{% if featured_sponsors or other_sponsors%}

     <section class="white">

        <header><h3>Sponsors</h3></header>

        <div class="content">
          
            {%for s in featured_sponsors %}
                      
            <div class ="featured-sponsor">
              <img src="/partners?partner_id={{s.sponsor.sponsor_id}}" alt="{{s.sponsor.name}}, a featured partner of MedHack"/>

              <p>{{s.sponsor.blurb}}</p>

              <div class="clear"></div>

            </div> <!-- end featured sponsor -->
            {% endfor %}


            {%for s in other_sponsors %}         
            <div class="sponsor">
              <img src="/partners?partner_id={{s.sponsor.sponsor_id}}" alt="{{s.sponsor.name}}, a featured partner of MedHack"/>
            </div> <!-- end featured sponsor -->
            {% endfor %}


        </div> <!-- end content -->


      </section> <!-- end sponsors  -->
{% endif %}

    </div><!-- end container -->
    
    <footer>

      <div class="content">
        
        <div id="company-info" class="left">
          <p>Medhack: Healthcare Hackathon Events</p>
          <a href="/">
            <img src="/images/prebacked_logo_white_small.png"/>
          </a>
        </div>

        
          <a class="right" href="mailto:medhack@prebacked.com">medhack@prebacked.com</a>
          
        </div>
        <div class="clear"></div>

      </div>
    
    </footer>

    <script src="../js/jquery-1.6.1.min.js" type="text/javascript" ></script>
    
  </body>

