<div id="schedule" class="section grid_5" style="display:none">
    <h2>Schedule</h2>
    
    
    <ul id="tabs" class="css-tabs skin2">
            <li class="friday tab"><a id="t1"><div class="tabLabel">Fri</div></a></li>
            <li class="saturday tab"><a id="t2"><div class="tabLabel">Sat</div></a></li>
            <li class="sunday tab"><a id="t3"><div class="tabLabel">Sun</div></a></li>
    </ul>
    
    <!-- tab "panes" -->
    <div class="css-panes skin2 grid_5 alpha omega sched_sheet_1">

        <div class="friday med_sched" style="display: none">
            <div id="sched_day_1" class="day">
                <h4>Friday - Oct 19th</h4>
                <div class="grid_4">
                    <ul class="schedule_specifics">
                        <li>
                            <p class="sched_time">6:00pm</p>
                            <span>Arrival, signin, networking</span></li>
                        <li>
                            <p class="sched_time">6:30</p>
                            <span>Dinner</span></li>
                        <li>
                            <p class="sched_time">7</p>
                            <span>Keynote</span></li>
                        <li>
                            <p class="sched_time">7:20</p>
                            <span>Problem pitches begin</span></li>
                        <li>
                            <p class="sched_time">8</p>
                            <span>Choose problem, start hacking</span></li>
                        <li>
                            <p class="sched_time">Midnight</p>
                            <span>Venue closed</span></li>
                    </ul>
                </div>
              
                <br class="clear"/>
            </div><!--end of sched_day_1-->
        </div><!--end of friday tab-->
        
        <div class="saturday med_sched" style="display: none">
            <div id="sched_day_2" class="day">
                <h4>Saturday - Oct 20th</h4>
                <div class="grid_4"><!--column 1-->
                    <ul class="schedule_specifics">
                        <li>
                            <p class="sched_time">10 am</p>
                            <span>Doors open</span></li>
                        <li>
                            <p class="sched_time">12:30</p>
                            <span>Lunch</span></li>
                        <li>
                            <p class="sched_time">6</p>
                            <span>Dinner</span></li>
                        <li>
                            <p class="sched_time">Midnight</p>
                            <span>Venue closed</span></li>
                    </ul>
                </div><!--end of grid_4 / saturday schedule-->
                <br class="clear"/>
            </div><!--end of sched_day_2-->
        </div><!--end of saturday tab-->
        
        <div class="sunday med_sched" style="display: none">
            <div id="sched_day_3" class="day">
                <h4>Sunday - Oct 21st</h4>
                <div class="grid_4"><!--column 1-->
                    <ul class="schedule_specifics">
                        <li>
                            <p class="sched_time">10 am</p>
                            <span>Doors open</span></li>
                        <li>
                            <p class="sched_time">12:30</p>
                            <span>Lunch</span></li>
                        <li>
                            <p class="sched_time">6</p>
                            <span>Pitching, Judging, Prizes</span></li>
                        <li>
                            <p class="sched_time">8</p>
                            <span>Goodnight</span></li>
                    </ul>
                </div><!--end of grid_4 / sunday schedule-->
                <br class="clear"/>
            </div><!--end of sched_day_3-->
        </div><!--end of sunday tab-->
    </div><!--end panes-->
    
                        
    <div class="sheet sched_sheet_2"></div>
    <div class="sheet sched_sheet_3"></div>
        
</div><!--end of schedule-->

<!------------------------------------------------------------->

<noscript>
    <div id="schedule" class="section" style="">
        <h2>Schedule</h2>
        
        
        <!-- tab "panes" -->
        <div class="grid_5 alpha omega sched_sheet_1">
            <div class="friday med_sched" style="">
                <div id="sched_day_1" class="day">
                    <h4>Friday - Oct 19th</h4>
                    <div class="grid_4">
                            <ul class="schedule_specifics">
                                <li>
                                <p class="sched_time">6:00pm</p>
                                <span>Arrival, signin, networking</span></li>
                            <li>
                                <p class="sched_time">6:30</p>
                                <span>Dinner</span></li>
                            <li>
                                <p class="sched_time">7</p>
                                <span>Keynote</span></li>
                            <li>
                                <p class="sched_time">7:20</p>
                                <span>Problem pitches begin</span></li>
                            <li>
                                <p class="sched_time">8</p>
                                <span>Choose problem, start hacking</span></li>
                            <li>
                                <p class="sched_time">Midnight</p>
                                <span>Venue closed</span></li>
                        </ul>
                    </div>
                  
                    <br class="clear"/>
                </div><!--end of sched_day_1-->
            </div><!--end of friday tab-->
            <div class="saturday med_sched" style="">
                <div id="sched_day_2" class="day">
                    <h4>Saturday - Oct 20th</h4>
                    <div class="grid_4"><!--column 1-->
                        <ul class="schedule_specifics">
                            <li>
                                <p class="sched_time">10 am</p>
                                <span>Doors open</span></li>
                            <li>
                                <p class="sched_time">12:30</p>
                                <span>Lunch</span></li>
                            <li>
                                <p class="sched_time">6</p>
                                <span>Dinner</span></li>
                            <li>
                                <p class="sched_time">Midnight</p>
                                <span>Venue closed</span></li>
                        </ul>
                    </div><!--end of grid_4 / saturday schedule-->
                    <br class="clear"/>
                </div><!--end of sched_day_2-->
            </div><!--end of saturday tab-->
            <div class="sunday med_sched" style="">
                <div id="sched_day_3" class="day">
                    <h4>Sunday - Oct 21st</h4>
                    <div class="grid_4"><!--column 1-->
                        <ul class="schedule_specifics">
                            <li>
                                <p class="sched_time">10 am</p>
                                <span>Doors open</span></li>
                            <li>
                                <p class="sched_time">12:30</p>
                                <span>Lunch</span></li>
                            <li>
                                <p class="sched_time">6</p>
                                <span>Pitching, Judging, Prizes</span></li>
                            <li>
                                <p class="sched_time">8</p>
                                <span>Goodnight</span></li>
                        </ul>
                    </div><!--end of grid_4 / sunday schedule-->
                    <br class="clear"/>
                </div><!--end of sched_day_3-->
            </div><!--end of sunday tab-->
        </div><!--end panes-->
            
    </div><!--end of schedule-->
</noscript>


<script type="text/javascript">  
    $('#schedule').show();
</script>

