<div class="event">
            
    <div class="event_date">Dec 13th</div>
    <div class="event_name">Choosing the right mobile platform</div>
    
    <div class="event_location">San Francisco, CA</div>
    
    <div class="event_description_link"><a href="javascript:void(0);">Description<div class="arrow_down"></div></a></div>
    <div class="event_link"><a href="javascript:void(0);" onclick="overlay()">Register<div class="arrow_down"></div></a></div>
    
    <div class="event_description">
        <p>
            Join the mobile UX team as they host Missy Krasner for a night of tearing into the benefits of Android, iOS, Windows phone, etc.
        </p>
    </div>
    
</div>










<div class="event">
    <div class="event_date">Dec 26th</div>
    <div class="event_name">Prebacked Ignition</div>
    
    <div class="event_location">Silicon Valley, CA</div>
    <div class="event_description_link"><a href="javascript:void(0);">Description<div class="arrow_down"></div></a></div>
    <div class="event_link"><a>Event page</a></div>
</div>


<h3 class="date">Janruary 2013</h3>

<div class="event">
    
    <div class="event_date">Jan 13th</div>
    <div class="event_name">Choosing the right mobile platform</div>
    
    <div class="event_location">San Francisco, CA</div>
    
    <div class="event_description_link"><a href="javascript:void(0);">Description<div class="arrow_down"></div></a></div>
    <div class="event_link"><a href="javascript:void(0);">Event page</a></div>
</div>

<div class="event">
    <div class="event_date">Jan 21st</div>
    <div class="event_name">Choosing the right mobile platform with Missy Krasner</div>
    
    <div class="event_location">Palo Alto, CA</div>
    <div class="event_description_link"><a href="javascript:void(0);">Description<div class="arrow_down"></div></a></div>
    <div class="event_link"><a href="javascript:void(0);">Event page</a></div>
</div>

<div class="event">
    <div class="event_date">Jan 26th</div>
    <div class="event_name">Prebacked Ignition</div>
    
    <div class="event_location">Cambpell, CA</div>
    <div class="event_description_link"><a href="javascript:void(0);">Description<div class="arrow_down"></div></a></div>
    <div class="event_link"><a>Event page</a></div>
</div>

