{% extends 'homepage_base.html' %}

{%block info_bar%}
<!--<div id="info_bar" style="display: none">
    <div class="container_12">
        <span>Announcing Prebacked Ignition, kickoff Oct 26th. Winners recieve $25k and an LOI.</span>
        <a class="orange button" href="/ignition/silicon_valley_winter_2013">Learn More</a>
    </div>
</div>-->

{%endblock%}

{% block upper_info%}
    <div class="box">
        <h1>
            Enterprise innovation and startup creation.  Simplified.
        </h1>
    </div>
    <div id="headlineText" class="grid_7 alpha box">
        <!--<h1>-->
        <!--    Startup, meet enterprise.  Enterprise, this is startup.-->
        <!--</h1>-->
        <p style="">
            Start a startup, spur corporate innovation, and create vendor relationships by bridging the gap between startup and enterprise
            with Prebacked.
            
            <!--Startup, meet enterprise.  Enterprise, this is startup.  By connecting entrepreneurial-->
            <!--teams with enterprise problems we create vendor relationships, enterprise innovation, and help entrepreneurs start a startup.-->
        </p>
        <!--<a href="#more_info">Learn more</a>-->

        
        <div id="button_holder" class="">
            <div class="col_2 alpha"><a href="#info" onclick="specific_info('.startup')" class="button square orange"><span>Startup a startup</span><br/>With a customer baked in.</a></div>
            <div class="col_2 omega"><a href="#enterprise" onclick="specific_info('.enterprise')" class="button square orange"><span>Innovate your corporation</span><br/>Spurred by entrepreneurs.</a></div>
        </div>

        
    </div>
    <div id="header_video" class="grid_5 omega">
        <a href="#" onclick="overlay()"><img src="/images/vid.jpg"></a>
    </div>
    
    <div id="homepage_email" class="grid_12 box alpha omega">
        <blockquote class="col_1 blockquote always_focus img">
            <!--<img src="images/partners/ernest_rolfson.jpg"/>-->
            <span class="bqstart">&#8220;</span>
            Exceptional startups tackling exceptional enterprise challenges.  It's a perfect match.
            <p class="quote_name">--Ernest Rolfson, VP, MasterCard</p>
            <span class="bqend">&#8221;</span>
        </blockquote>
        
        
    </div>
    
    
    
{% endblock %}

{%block upper_bg%}<img src="images/bgs/hacking_away.jpg" id="headerImg" alt="Hackers starting a startup">{% endblock%}

{% block middle_info %}
    <a name="info"></a>

    <div class="info_container section top col_1 startup">
        <div class="info_box col_2 alpha">
            <h2>
                A great way to start a startup.
            </h2>
            <p>
                Learn deep enterprise problems at an <a href="/ignition" target="_blank">Ignition event</a>, iterate with their executive team,
                and build a startup with your first major corporate client built-in.
            </p>
        </div>
        <div class="info_pic col_2 omega">
            <img src="images/iteration.jpg"/>
        </div>
    </div>
    
    
    <div class="info_container section col_1 right enterprise">
    <a name="enterprise"></a>
        <div class="info_box col_2 alpha">
            <h2>
                Enterprise, innovated.
            </h2>
            <p>
                Find top-tier startups with innovative and disruptive solutions to your enterprise problems.
                Become a customer, an advisor, or an investor.  It's up to you and the startup.
            </p>
        </div>
        <div class="info_pic col_2 omega">
            <img src="images/enterprise_innovated.jpg"/>
        </div>
    </div>
    
    <div class="info_container section col_1 startup">
        <div class="info_box col_2 alpha">
            <h2>
                Active enterprise innovators.
            </h2>
            <p>
                Companies such as
                <a href="http://www.wellmark.com" target="_blank">Wellmark</a>,
                <a href="http://www.cambiahealth.com" target="_blank">Cambia Health Solutions</a>,
                and
                <a href="http://www.regence.com" target="_blank">Regence</a>,
                actively participate in MedHack and Ignition events as well as the prebacked Bridge community.
            </p>
        </div>
        <div class="partner_companies col_2 omega">
            <img class="partner_company" src="images/partner_companies/wellmark.png"/><br/>
            <img class="partner_company" src="images/partner_companies/cambia_health.png"/><br/>
            <img class="partner_company" src="images/partner_companies/regence.png"/>
        </div>
    </div>
    
    <div class="info_container section col_1 right enterprise">
        <div class="info_box col_2 alpha">
            <h2>
                Access talented engineers.
            </h2>
            <p>
                "How do we get access to the best engineers?"  Today's top engineers aren't working for companies, they're starting them.
                Align your interests with theirs and gain access to their skills, creativity, and drive.
                They will be dedicated to the goal of earning your business.
            </p>
        </div>
        <div class="info_pic col_2 omega">
            <img src="images/ignition_room_faded.jpg"/>
        </div>
    </div>
    
    <div class="info_container section col_1 startup">
        <div class="info_box col_2 alpha">
            <h2>
                Startup growth driven by revenue.
            </h2>
            <p>
                What's better than a venture-backed startup?  A bootstrapped startup with $100MM in sales.
                Accelerate enterprise sales cycles from 16 months to 4 to get your startup a revenue-generating contract.
                Then leverage our connections to land your first, second, and fifth enterprise customer.
            </p>
        </div>
        <div class="info_pic col_2 omega">
            <img src="images/business_growth.jpg"/>
        </div>
    </div>
    
    
    <div class="info_container section col_1 right always_focus">
        <div class="info_box col_2 alpha">
            <h2>
                Investor friends.
            </h2>
            <p>
                We're highly focused on startup-enterprise connections, but sometimes a startup needs extra capital to scale.
                We've hand selected firms we like to work with and hold special events to increase startup visibility within those firms.
            </p>
        </div>
        <div class="info_pic col_2 omega">
            <img src="images/investor_friends.jpg"/>
        </div>
    </div>
    
    <!--------Template for info boxes-------->
    <!--<div class="info_container section col_1">-->
    <!--    <div class="info_box col_2 alpha">-->
    <!--        <h2>-->
    <!--            -->
    <!--        </h2>-->
    <!--        <p></p>-->
    <!--    </div>-->
    <!--    <div class="info_pic col_2 omega">-->
    <!--        <img src=""/>-->
    <!--    </div>-->
    <!--</div>-->
    
    
    <!--<div id="programStructure" name="programStructure" class="section top col_1">-->
    <!--<h3>Enterprise clients, sans the sales cycle</h3>-->
    <!--    -->
    <!--    {% for i in program_info %}-->
    <!--    <div id="program_{{i.0.lower}}" class="col_3 programCategory {% if forloop.first %}alpha{% endif %} {% if forloop.last %}omega{% endif %}" style="background-image:url('/images/{{i.2.lower}}')">-->
    <!--        <h4>{{i.0}}</h4>-->
    <!--        <br/>-->
    <!--        <p>{{i.1}}</p>-->
    <!--    </div>-->
    <!--    {% endfor %}-->
    <!--</div>-->
    
    <!--<div class="col_1 section ">-->
        <!--<h3>We're not the only ones who love it</h3>-->
        <!--<blockquote class="col_1 blockquote top enterprise">
            <span class="bqstart">&#8220;</span>
            The level of innovation and technical talent in the room was unlike anything I've ever seen...
            What a fun time - I cannot wait to attend the next one!
            <p class="quote_name">--Sameer Sonalkar, CTO, Wellmark</p>
            <span class="bqend">&#8221;</span>
        </blockquote>-->
        
        <!--<blockquote class="col_1 blockquote startup">
            <span class="bqstart">&#8220;</span>
            We just did 6 months of iteration with the client on day 0. Incredible.
            <p class="quote_name">--Team Stroll, Prebacked Ignition winners</p>
            <span class="bqend">&#8221;</span>
        </blockquote>-->
        
        <!--<blockquote class="col_1 blockquote startup img">-->
            <!--<img src="images/partners/ernest_rolfson.jpg"/>-->
        <!--    <span class="bqstart">&#8220;</span>-->
        <!--    Exceptional startups tackling exceptional enterprise challenges.  It's a perfect match.-->
        <!--    <p class="quote_name">--Ernest Rolfson, VP, MasterCard</p>-->
        <!--    <span class="bqend">&#8221;</span>-->
        <!--</blockquote>-->
        <!---->
    <!--</div>-->
    
    
    <!--<div id="street_cred" class="section col_1 alpha omega">-->
    <!--    <h3>We only work with great people, we think you should too.</h3>-->
    <!--    -->
    <!--    -->
    <!--    <!--alpha and omega only set up for up to 4 partners.  Need to update for modulous if more added-->
    <!--    {% if mentors%}-->
    <!--    {% for m in mentors %}-->
    <!--    <div class="partner col_4 {%if forloop.first%}alpha{%endif%} {%if forloop.last%}omega{%endif%}">-->
    <!--        <a href="{{m.3}}" target="_blank">-->
    <!--            <img src="/images/partners/{{m.1}}" alt="{{m.0}} Headshot" class=""/>-->
    <!--            <span>-->
    <!--                <p>{{m.0}}</p>-->
    <!--                <p class="partner_employer">{{m.2}}</p>-->
    <!--            </span>-->
    <!--        </a>-->
    <!--    </div>-->
    <!--    {%endfor%}-->
    <!--    {%endif%}-->
    <!--</div>-->
    
    <!--<div class="col_1 alpha omega">-->
    <!--    <div class="col_3 alpha"><a href="/ignition" class="button square orange">Learn about building a startup.</a></div>-->
    <!--    <div class="col_3 "><a href="/medhack" class="button square orange"><span>Bridge your startup to enterprise.</a></div>-->
    <!--    <div class="col_3 omega"><a href="/enterprise" class="button square orange"><span>Help your corporation innovate.</a></div>-->
    <!--</div>-->
    

{% endblock %}

{%block unrestricted_bottom%}
<!--modal more info as a temporary fix-->
<div id="modal" onclick='overlay()'>
    <div class="">
        <p class="modal_close"><a onclick="overlay()" href="#">Close</a></p>
        <div class="video_wrapper">
            <iframe id="modal_vid" src=""  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <!--width="760" height="487"-->
        </div>
        
        <!--mailchimp email-->
        <!--<div id="modal_email" class="">
            <div id="mc_embed_signup">
                <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <!------Auto loads the Explicit group tag.  Tested on Chrome and FF 11 ------
                    <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                        <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">
                        <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>
                    </li>
                    <!------/Load tag--------
                    
                    <input type="email" value="" style="display:inline-block" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <input type="submit" style="display:inline-block" value="Be the first to know" name="subscribe" id="mc-embedded-subscribe" class="button">
                    
                </form>
            </div>
        </div>-->
        <!--end mailchimp-->
    </div><!--end grid_14-->
</div>
<!--end modal-->


<!--Bottom of page scripts go here-->

<!--toggles show/hide of modal box-->
<script type="text/javascript" >
function overlay() {
	el = document.getElementById("modal");
        vid = document.getElementById("modal_vid");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
        //vid.style.display = (vid.style.display == "block") ? "none" : "block";
        vid.style.display = (vid.style.display == "block") ? $('iframe#modal_vid').attr('src','') : $('iframe#modal_vid').attr('src','http://player.vimeo.com/video/68069117?title=0&byline=0&portrait=0');
        vid.style.display = (vid.style.display == "block") ? "none" : "block";
        
        
}
</script>



<script type="text/javascript" >
function specific_info(specific_class){
   
   //alert("Class " + specific_class + " was triggered!");
   //$('.no_focus').show()
   
   $('.info_container').removeClass('focus').removeClass('no_focus').addClass('no_focus');
   $('.blockquote').removeClass('focus').removeClass('no_focus').addClass('no_focus');
   $(specific_class).removeClass('no_focus').addClass('focus');
   
   
   //$('.no_focus').slideUp(1200)
};
</script>

{%endblock%}