{% extends 'homepage_base.html' %}

{% block styles %}
  <link rel="stylesheet" href="css/pages.css" media="screen" type="text/css"/>
  <style>#middleInfoInner{background-color: #fff !important; padding-top: 0}</style>
{% endblock %}

{%block color_scheme%}{%endblock%}

{%block upper_bg%}<!--<img src="/images/bgs/ignition_room.jpg" id="headerImg" alt="Hackers starting a startup">-->{% endblock%}

{%block page%}_apply{%endblock%}

{% block upper_info%}
<h1>Apply</h1>
<p>Get on our radar.</p>
{% endblock %}


{% block middle_info %}

<iframe src="https://docs.google.com/forms/d/16AmYVr_yGyt2DcZS13zcUTQAkGLS9f79-YR37C_RKEo/viewform?embedded=true" width="890" height="1150" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endblock %}

{%block unrestricted_bottom%}{%endblock%}