{% extends 'homepage_base.html' %}

{% block styles %}
  <link rel="stylesheet" href="css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{%block color_scheme%}{%endblock%}

{%block upper_bg%}<!--<img src="/images/bgs/ignition_room.jpg" id="headerImg" alt="Hackers starting a startup">-->{% endblock%}

{%block page%}_boost{%endblock%}

{% block upper_info%}
<h1>BoostMed</h1>
<p>Connect your startup to industry customers.</p>
{% endblock %}


{% block middle_info %}
<div id="event_home">
    <h4>Hack Healthcare</h4>
    <p>
        Not a hackathon, but a chance to hack on your startup with mentors and advisors.
    </p>
    
    <!--<h4>Who?</h4>
    <p>
        Awesome.
    </p>-->
    
    <div id="programs" class="grid_24 alpha omega">
        <h4>Where?</h4>
        <div id="" name="upcomingPrograms" class="grid_20 alpha omega"> <!--rhs column-->

            
            {% if upcoming_events %}
                {% for e in upcoming_events%}
                    
                    <div class="upcoming_event grid_6 alpha">
                        <div class="upcoming_event_inner">
                            <img src="/images/city_images/{{e.city.lower|cut:" "}}.jpg" alt="Gorgeous view of {{e.city}}"/>
                            <p class="city_overlay">{{e.city}}</p>
                            <!--<p class="industry"><span class=""></span>{{e.companies}}</p>-->
                            <p class="location"><span class=""></span>{{e.city}}</p>
                            <p class="date"><span class=""></span><span>Starts:</span> {{e.month}}/{{e.day}}/{{e.year}}</p>
                            <a class="green button" href="/ignition/{{e.event_id}}">Learn More</a>
                        </div>
                    </div>
                    
                {%endfor%}
            {% else %}
                <div class="upcoming_event grid_6 alpha">
                <div class="upcoming_event_inner">
                    <img src="/images/city_images/stanford.jpg" alt="New event coming soon"/>
                    <p class="city_overlay">Coming soon</p>
                    <p class="industry"><span class=""></span>Coming soon</p>
                </div>
            </div>
            
            {%endif%}    
            
            <!--end active events-->
           
            
            <!--Previous events-->
            
        </div>
    </div>
    
    <!--<h4>What equity?</h4>-->
    
    <!--<h4>Scale</h4>
    <p>
        Typically a solution is not just scalable within its initial industry but can scale across industries.
        Prebacked works with major corporate clients in many industries, including health and finance.  Once you're
        part of the community, we have a vested interest in seeing you succeed and encourage you to draw on our network.
    </p>-->
    
    

</div>

{% endblock %}

{%block unrestricted_bottom%}



<!--Bottom of page scripts go here-->

<!--toggles show/hide of modal box-->
<script type="text/javascript" >
function overlay() {
	el = document.getElementById("modal");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";
}
</script>

<!--keeps onlick from being triggered by the inner div-->
<script type="text/javascript" >
$(document).ready(function(){
   $("#modal div").click(function(e) {
        e.stopPropagation();
   });
});
</script>

{%endblock%}