<!--Sponsors page-->

<div id="gold_sponsors" class="section sponsors">
    <h3>Gold Sponsors</h3>
    <div class="gold_sponsor grid_4">
        <img src="/images/sponsor_gold_filler.png">
    </div>
    <div class="gold_sponsor grid_4">
        <img src="/images/sponsor_gold_filler.png">
    </div>
    <div class="gold_sponsor grid_4">
        <img src="/images/sponsor_gold_filler.png">
    </div>
    <br class="clear"/>
</div><!--end of gold sponsors-->

<div id="reg_sponsors" class="section sponsors"><!--This should be replaced w/ a loop to make it a lot easier-->
    <h3>Sponsors</h3>
    <div class="sponsor grid_3">
        <img src="/images/sponsor_filler.png">
    </div>
    <div class="sponsor grid_3">
        <img src="/images/sponsor_filler.png">
    </div>
    <div class="sponsor grid_3">
        <img src="/images/sponsor_filler.png">
    </div>
    <div class="sponsor grid_3">
        <img src="/images/sponsor_filler.png">
    </div>
    <br class="clear"/>
</div><!--end of sponsors-->

<div id="friends" class="section sponsors"><!--This should be replaced w/ a loop to make it a lot easier-->
    <h3>Friends</h3>
    <div class="friend grid_3">
        <img src="/images/sponsor_friend_startupdigest.png">
    </div>
    <div class="friend grid_3">
        <img src="/images/sponsor_friend_filler.png">
    </div>
    <div class="friend grid_3">
        <img src="/images/sponsor_friend_filler.png">
    </div>
    <div class="friend grid_3">
        <img src="/images/sponsor_friend_filler.png">
    </div>
    <br class="clear"/>
</div><!--end of friends-->
<br class="clear"/>