<div id="footer">
    <div id="footer_inner" class="container_12 row">
        <a name="footer"></a>
        
        <div class="grid_3 push_9 small-12 medium-4 medium-push-8 large-3 columns">
            <p>
                Mail: <a href="mailto:info@prebacked.com">info@prebacked.com</a><br/>
                <a href="http://www.twitter.com/#prebacked">Twitter</a><br/>
                <a href="https://angel.co/prebacked">Angel List</a>
            </p>
        </div>
        
        <div class="grid_6 pull_3 small-12 medium-8 medium-pull-4 large-6 large-pull-6 columns">
                <img src="/images/prebacked_logo_white_small.png"/>
                <p>
                    &copy Prebacked, Inc.  All rights reserved.
                </p>
        <!--    <!-- Begin MailChimp Signup Form -->
        <!--    <div id="mc_embed_signup">-->
        <!--    <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">-->
        <!--            <!------Auto loads the Explicit group tag.  Tested on Chrome and FF 11 ------>
        <!--            <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">-->
        <!--                <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">-->
        <!--                <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>-->
        <!--            </li>-->
        <!--            <!------/Load tag-------->
        <!--            <input type="email" value="" style="display:inline-block" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>-->
        <!--            <input type="submit" style="display:inline-block" value="Stay in the loop" name="subscribe" id="mc-embedded-subscribe" class="button">-->
        <!--            <span>Your email will never be sold, distributed, bartered, or held hostage</span>-->
        <!--    </form>-->
        <!--    </div>-->
        <!--    -->
        <!--    <!--End mc_embed_signup-->
        </div>
        
    </div>
</div><!-- End Footer -->
