{% extends 'homepage_base.html' %}

{% block title %}Prebacked Monthly: Win private meetings with corporate executives{%endblock%}

{%block fb_title%}
    Help my friends {{team.Field2}} win a potential client
{%endblock%}

{%block fb_url%}http://www.prebacked.com/monthly/{{challenge_id}}/{{team_id}}{% endblock %}

{%block description%}Vote for team {{team.Field2}} so they can win a private dinner with {{s_e_info.sponsor.name}} executives and, possibly, win a client.{%endblock%}

{%block fb_description%}
    {%if p_e_info.problem.value %}{{p_e_info.problem.value}}{% endif %}
{%endblock%}

{% block styles %}
  <link rel="stylesheet" href="/css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{%block color_scheme%}default{%endblock%}

{%block sub_link_bar%}
    {%include 'partials/sublinkbar_accelerate.html'%}
{%endblock%}

{% block upper_info%}  
{% endblock %}

{%block upper_bg%}
    {# <img class="show-for-medium-up" src="images/bgs/room-of-people.jpg" id="headerImg" alt="" /> #}
{% endblock%}

{% block middle_info%}

<div id="monthly_team_page">
    <div class="row " id="team">
        <div class="small-12 columns">
            <div class="row">
                
                <div id="" class="team_info small-12 medium-6 text-center columns">
                    <h2>
                        {# Challenge overview #}
                        {{team.Field2}}
                    </h2>
                
                    <p>{{team.Field118}}</p>
                    <br>
                    <a id="vote" class="button">0 Votes</a>
                    <br>
                </div>

                
            <div class="vote_for_me small-12 medium-6 large-4 columns">
                    <p>Share {{team.Field2}} with your friends to help them get more votes</p>
                    <!-- Facebook -->
                    <a href="http://www.facebook.com/sharer.php?u=http://www.prebacked.com/monthly/{{team.Field115}}/{{team.EntryId}}" 
                    target="_blank"><img src="/images/social/facebook.png"/></a>
                     
                    <!-- Twitter -->
                    <a href="http://twitter.com/share?url=http://www.prebacked.com/monthly/{{team.Field115}}/{{team.EntryId}}&text=Vote for {{team.Field2}} to win a private dinner with {{s_e_info.sponsor.name}} executives and a potential client"target="_blank">
                    <img src="/images/social/twitter.png"/></a>

                        <!-- Google+ -->
                    <a href="https://plus.google.com/share?url=http://www.prebacked.com/monthly/{{team.Field115}}/{{team.EntryId}}" 
                    target="_blank"><img src="/images/social/google.png"/></a>

                    <!-- LinkedIn -->
                    <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.prebacked.com/monthly/{{team.Field115}}/{{team.EntryId}}" target="_blank"><img src="/images/social/linkedin.png"/></a>
            </div>
            </div>
            <div class="row">
                <a href="/monthly/{{challenge_id}}" class="button">Read more about their challenge</a>
            </div>

        </div> {# end .small-12 .columns #}   
    </div> {# end #upcoming_challenge .row .data #}
</div>

</script>

{# {%endif%} #}


<div id="stay_connected" class="">
    <div id="stay_connected_inner" class="row">
        <div id="connected_text" class="small-12 large-7 columns">
            <h2>Know upcoming challenges</h2>
            <p>Learn about future challenges first and have more time to apply. Expect about two emails a month.</p>
        </div>
        
        <div id="connected_form" class="small-12 medium-7 large-5 end columns">
            
                <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        
                        {### Auto-load hidden tags ###}
                        {# Explicit tag  #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">
                            <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>
                        </li>
                        {# Prebacked monthly subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_4194304">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_4194304" name="group[17685][4194304]" value="1" class="av-checkbox"><span>Monthly challenges (3 emails a month)</span> 
                            </label>
                        </li>

                        {# Prebacked accelerator subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_8388608">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_8388608" name="group[17685][8388608]" value="1" class="av-checkbox"><span>Accelerator program (4 emails a year)</span> 
                            </label> 
                        </li>

                        {# Prebacked hackathons subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_2097152">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_2097152" name="group[17685][2097152]" value="1" class="av-checkbox"><span>Prebacked Hackathons (4 emails a year)</span> 
                            </label> 
                        </li>
                        {# /Load tags #}
                        <!------/Load tag-------->
                        <input id="" class="email large-12" type="email" value="" style="" name="EMAIL"  placeholder="email address" required>
                        <input id="" class=" button large-8 end" type="submit" style="" value="Tell me challenges first" name="subscribe"/>
                </form>
            
            
        </div>
    </div>
</div>
{% endblock %}



{%block scripts%}
<script type="text/javascript">

console.log("team = {{team}}")

function setCookie(name, value, days) {
    var expires;

    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
    } else {
        expires = "";
    }
    document.cookie = escape(name) + "=" + escape(value) + expires + ";path=/monthly/{{team.Field115}}/{{team.EntryId}}";
}

function readCookie(name) {
    var nameEQ = escape(name) + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
    }
    return null;
}

//Update the counter once the page is ready
$( document ).ready(function() {
    $.get("/get_votes/{{team.EntryId}}", function(data) {
        $("#vote").html("Votes: " + data);
    });
});


//each click fires a ajax post request to the server to update the votes
$( "#vote" ).click(function() {
    cookie = readCookie("v_");
    if (cookie == "T"){
        $("#vote").html("You voted for <br> this team already");
    }
    else{
    $.post("/get_votes/{{team.EntryId}}", function(data) {
        $("#vote").html("Votes: " + data);
        setCookie("v_","T",30);
    });

    }
    
});
</script>


{% endblock %}




           