<!DOCTYPE html>
<html class="no-js" lang="en">

    
<!--
*****************************************************
*                    Prebacked                      *
*                                                   *
* Thanks for checking out our source. You should    *
* contact us, we might just have something fun      *
* for you to work on.                               *
*                                                   *
*               garrett@prebacked.com               *
*                                                   *
*****************************************************
-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Accelerating startups with corporate contracts | Prebacked{% endblock %}</title>
    
    
    <meta name="description" content="{% block description %}Prebacked helps a startup find product-market fit for their technolog and a first enterprise paying contract in 4 months flat. {% endblock %}" />
    <meta name="keywords" content="Prebacked, Prefunded, Tech, Event, entrepreneur, developer, problem, problems, solution, solutions, investor, startup, startups, code" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="keywords" content="Prebacked, Prefunded, Tech, Event, entrepreneur, developer, problem, problems, solution, solutions, investor, startup, startups, code"/>
    <meta http-equiv="description" content=""/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    
    <!--Open Graph Properties-->
    <meta property="og:site_name" content="Prebacked"/>
    <meta property="og:url" content="http://www.prebacked.com{%if url%}/{{url|lower}}{%endif%}"/>
    <meta property="og:description" content="{%block fb_description%}{%endblock%}"/>
    <meta property="og:title" content="{%block fb_title%}Accelerating paid enterprise contracts from 24 months to 4 | Prebacked{%endblock%}"/>
    <meta property="og:image" content="http://www.prebacked.com/images/fb_prebacked_icon.png"/>
    <meta property="og:image:width" content="1500" /> 
    <meta property="og:image:height" content="1500" />
    <!--End open graph properties-->
    
    <link rel="stylesheet" href="/css/chosen.css" media="screen" type="text/css"/>

    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/foundation.css" /> <!--foundation - included for debugging, remove when finished (included in standard_import.scss)-->
    <link rel="stylesheet" href="/css/homepage.css" media="screen" type="text/css"/>
    
    
    
    {% block styles %}{% endblock %}
    
    <!--Bing webmasters auth goes here -->
    <!--Google webmasters auth goes here -->
    

    <script src="js/vendor/modernizr.js"></script>

    <!--clicky analytics-->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>    
    <script type="text/javascript">try{ clicky.init(100526234); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100526234ns.gif" /></p></noscript>
    
    <!--goog analytics-->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', {% block google_track %}'UA-30100162-1'{%endblock%}]);
      _gaq.push(['_setDomainName', 'prebacked.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1503333016585016']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1503333016585016&amp;ev=PixelInitialized" /></noscript>
    

</head>

<body>
<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">
    {%block info_bar%}{%endblock%}
    
    
    
<section class="main-section">
    <div id="homepage{%block page%}{%if url%}_{{url}}{%endif%}{%endblock%}">
        <div id="upperInfoContainer" class="color_scheme_{%block color_scheme%}default{%endblock%} color_scheme_backup">
            <div id="upperInfoInner" class="">
                <div id="linkBar" class="">
                    <div id="" class="linkBarInner row">
                        <div id="" class="logoarea small-12 medium-12 large-4 large-uncentered columns">
                            <a href="/" class="piclink show-for-medium-up"><img src="/images/logo.png" class="" alt="Prebacked, accelerating enterprise innovations and startup contracts."/></a>
                            <a href="#" class="piclink show-for-small-only left-off-canvas-toggle"><span></span></a>
                            <img src="/images/prebacked_logo_white_small.png" class="show-for-small-only left-off-canvas-toggle" alt="Prebacked, accelerating enterprise innovations and startup contracts."/>
                            
                        </div>
                        <a class="left-off-canvas-toggle menu-icon show-for-small-only" href="#"><span class=""></span></a>
                        {% include 'partials/main_menu.html' %}
                    </div>
                    
                </div>
                
                {% block sub_link_bar %}{%endblock%}
                
                <div id="header_text" class="row">
                    {% block upper_info %}{% endblock %}
                </div>
            </div>
            
            
            
            <div id="upper_bg">
                {% block upper_bg %}{% endblock %}
            </div>
            
        </div>
        
        <div id="middleInfoContainer">
            <div id="middleInfoInner" class="">
                {%block middle_info%} {%endblock%}
            </div>
        </div>
        
        {% include 'footer.html'%}
    </div>
</section>

{% include 'partials/off-canvas-menu.html' %}
    
<a class="exit-off-canvas"></a>
</div>
</div>



    
    
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>

    <script>
        $(document).foundation();
    </script>

    <!--<script src="js/smoothScroll.js" type="text/javascript" ></script>-->
    <!-- 
    <script type="text/javascript" >
    function nav_show(parent_class){
        
        child_class = parent_class + '+ ul.box';
        $(parent_class).toggleClass('showme');
        $(child_class).toggleClass('showme');
    };
    </script>
    -->
    
    <!--
    <script type="text/javascript">
               
        $(document).ready(function(){
           //keeps onlick from being triggered by the inner div
           // can be removed when we switch fully to foundations' modal system
           $("#modal div").click(function(e) {
                e.stopPropagation();
           });
           
           $("#info_bar").delay(800).show('slow');
           
           $("body").click(function() {
                $(".showme").removeClass('showme');
            });
            
            $(".showme").click(function(e) {
                e.stopPropagation();
            });
            
            
            
            
        });
        
    
    </script>
-->
    
    <script type = "text/javascript">
        // Handles header link highlighting
        
        var pathname = window.location.pathname
        path_split = pathname.split("/")
        path = path_split[1]
        console.log(path)
        
        var linkID = "#link_" + path
        $(linkID).addClass("active")
        
        // handles "about" link getting highlighted
        if (path == "history" || path == "team" || path == "jobs"){$("#link_about").addClass("active");};
        
        // handles "accelerate" link getting highlighted
        if (path == "accelerate" || path == "engage" || path == "people" || path == "ignition" || path == "monthly"){$("#link_program").addClass("active");};
        
        // handles "events" link getting highlighted
        if (path == "conversations" || path == "medhack" || path == "event_board"){$("#link_events").addClass("active");};
        
    </script>

    {%block scripts%}{%endblock%}
    {% block unrestricted_bottom %}{% endblock %}

    </body>


</html>