{% extends 'homepage_base.html' %}

{% block styles %}
  <link rel="stylesheet" href="css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{%block color_scheme%}default{%endblock%}

{%block sub_link_bar%}
    {%include 'partials/sublinkbar_accelerate.html'%}    
{%endblock%}

{% block upper_info%}


<div class="large-12 columns">
    <h1>Accelerating paid pilots from 2 years to 4 months.</h1>
    <p>Bridging the gap between startup innovation and corporate needs to accelerate startups.</p>
</div>


{% endblock %}

{%block upper_bg%}{% endblock%}

{% block middle_info%}



<div class="row data">
    <div class="large-9 columns">
        <h4>Focused on Paid Pilots with Enterprise</h4>
        <p>
            We don't purport to be able to "teach you success", marketing, or how to set up the legal structure of a startup.  Instead, we accelerate product-market fit, sales cycles, and paid pilot contracts with enterprise companies. We do this by finding startups who could solve current corporate needs and create a program for both parties to thrive.
        </p>
    </div>

    <div class="large-3 columns">
        <p class="quote">
            "What Prebacked is doing is at the pointy end of innovation."<br/>
            <span>Lisa Brubaker, SVP Gov't Services, Regence</span></p>
    </div>
</div>
<div id="industry_partners" class="row data">
    <div class="large-12 columns">
        <h3>Proven in Industry</h3>
        <p>
            "Industry just can't move that fast." They can, they do, and they have. We've quietly been piloting programs with key players over the last year to work out the kinks and ensure maximum value for startups and corporate partners alike. 
            <br/><br/>
            <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                <li>
                    
                        <img src="images/partner_companies/wellmark.png" alt="Wellmark" class="partner_company"/>
                    
                </li>
                
                <li>
                    
                        <img src="images/partner_companies/cambia_health.png" alt="Cambia Health Solutions" class="partner_company"/>
                    
                </li>
                <li>
                    
                        <img src="images/partner_companies/regence.png" alt="Regence" class="partner_company"/>
                    
                </li>
                
            </ul>
            <!--<a href="http://www.wellmark.com" target="_blank">
                <img src="images/partner_companies/wellmark.png" alt="Wellmark" class="partner_company small-12 medium-4 columns"/>
            </a>
            <!--<a href="http://www.cambiahealth.com" target="_blank">-->
            <!--    <img src="images/partner_companies/cambia_health.png" alt="Cambia Health Solutions" class="partner_company small-12 medium-4 columns"/>-->
            <!--</a>-->
            <!--<a href="http://www.regence.com" target="_blank">-->
            <!--    <img src="images/partner_companies/regence.png" alt="Regence" class="partner_company small-12 medium-4 columns"/>-->
            <!--</a>-->
            
        </p>
    </div>
</div>

<div class="data">
    <div class="row">
        <h3 class="small-12 small-centered columns">Accelerating 6-figure Contracts for Startups</h3>
        <p class="small-12 large-10 large-centered columns">
            Our partners are ready and willing to work from day 1 towards a paid pilot with their selected teams.
        </p>
        <div class="small-12 columns">
            
            <p> 
                In 16 weeks your executive partner will take you from a letter of intent to a pilot contract, helping you navigate their organization and iterate on the technology and business model so they can be your first customer.
            </p>
            <p>
                At the end of the program, if you've impressed your partner, a paid pilot is signed and money delivered. Two weeks later, we hold a demo day to help with investment.
            </p>
        </div>
        <!--
        <div class="program_grid small-12 medium-4 columns">
            <div class="small-12 columns">
                <p class="small-6 columns">1: Refine</p>
                <p class="small-6 columns">8 Weeks</p>
            </div>
            <div class="small-12 columns">
                <p class="small-6 columns">2: Build</p>
                <p class="small-6 columns">8 Weeks</p>
            </div>
            <div class="small-12 columns">
                <p class="small-6 columns">3: Integrate</p>
                <p class="small-6 columns">Variable</p>
            </div>
        </div>
    -->
    </div>
<!--
        <table>
                <thead>
                    <tr>
                        <th>Step</th>
                        <th>Timeframe</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1: Refine</td>
                        <td>8 Weeks</td>
                    </tr>
                    <tr>
                        <td>2: Build</td>
                        <td>8 Weeks</td>
                    </tr>
                    <tr>
                        <td>3: Integrate</td>
                        <td>Post-program</td>
                    </tr>

                </tbody>
            </table>
    </div>

-->
    
    <div class="row">
        <div class="small-12 medium-4 columns">
            <h4>Refine<em> - 8 weeks</em></h4>
            <p>
                Refine your product with a senior executive to fit their business needs and goals.
            </p>
        </div>
        <div class="small-12 medium-4 columns">
            <h4>Build<em> - 8 weeks</em></h4>
            <p>Build a prototype and product integration roadmap. Prepare for demo day.</p>
        </div>
        <div class="small-12 medium-4 columns">
            <h4>Integrate<em> - Post Demo Day</em></h4>
            <p>
                Secure a contract and begin implementation of integration roadmap with your new client. </p>
        </div>
    </div>
    
</div>



<!-- <div id="investors" class="row data">
    <div class="small-centered large-10 columns">
        <h3>Investor Friends</h3>
        <p>You don't always need investment, but when you do, we've got friends.</p>
    </div>
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-4">
        <li>
            <img src="/images/partner_companies/canvas_venture_fund_bw.png"/>
        </li>
        <li>
            <img src="/images/partner_companies/pivot_north_capital_bw.png"/>
        </li>
        <li>
            <img src="/images/partner_companies/aberdare_ventures_bw.png"/>
        </li>
        <li>
            <img src="/images/partner_companies/mdv_bw.png"/>
        </li>
        <li>
            <img src="/images/partner_companies/band_of_angels_bw.png"/>
        </li>
        <li>
            <img src="/images/partner_companies/comcast_ventures_bw.png"/>
        </li>
        <li>
            <img src="/images/partner_companies/health_tech_capital_bw.png"/>
        </li>
    </ul>
</div> -->

<!--Template-->

<!--<div class="row data">-->
<!--    <div class="large-12 columns">-->
<!--        <h3></h3>-->
<!--        <p>-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->

<div class="row data">
    <div class="large-12 columns">
        <h3>Simple Terms to Align us all</h3>
        <p>
            Sharing in the upside highly motivates Prebacked for your success
        </p>
        <p>
            For pre-revenue teams (sub $100k revenue per year) we'll typically ask for 5% in common stock.
            If you've built a product and found traction (more than $100k / year), our ask is closer to 3% and as options.
        </p>
        <h4 style="font-weight: 300">We're entrepreneurs too, so we built in protection for you</h4>
        <p>
            We place all equity under a two year vesting plan, accelerated by your acquision of a paid pilot. If we don't produce enough value,
            you can kindly ask us to stop vesting and move on. Sometimes it's nice to know someone's thinking of your best interests.
        </p>
    </div>
</div>

<div id="stay_connected" class="">
    <div id="stay_connected_inner" class="row">
        <div id="connected_text" class="small-12 large-7 columns">
            <h2>Getting Involved</h2>
            <p>
                Acceptances are predicated on solutions mapping, or being able to map, to our corporate partners' challenges.
                Be the first to know what we're looking for by filling out <a href="http://prebackedforms.wufoo.com/forms/s5dwiwb1ivmfvm">an application</a>.
            </p>
        </div>
        
        <div id="connected_form" class="small-12 medium-7 large-5 end columns">
            
                <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        <!------Auto loads the Explicit group tag.  Tested on Chrome and FF 11 ------>
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">
                            <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>
                        </li>
                        <!------/Load tag-------->
                        <input id="" class="email large-12" type="email" value="" style="" name="EMAIL"  placeholder="email address" required>
                        <input id="" class=" button large-8 end" type="submit" style="" value="Stay in the loop" name="subscribe"/>
                </form>
        </div>
<!-- 
        <div id="wufoo-outer-container" class="small-12 columns">
            <div id="wufoo-s5dwiwb1ivmfvm">
                Fill out the <a href="http://prebackedforms.wufoo.com/forms/s5dwiwb1ivmfvm">application form</a>.
            </div>

        </div> -->
    </div>
</div>
{% endblock %}


{% block scripts%}
<!--
<script type="text/javascript">var s5dwiwb1ivmfvm;(function(d, t) {
var s = d.createElement(t), options = {
    'userName':'prebackedforms',
    'formHash':'s5dwiwb1ivmfvm',
    'autoResize':true,
    'height':'1357',
    'async':true,
    'host':'wufoo.com',
    'header':'show',
    'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
    try { s5dwiwb1ivmfvm = new WufooForm();s5dwiwb1ivmfvm.initialize(options);s5dwiwb1ivmfvm.display(); } catch (e) {}};
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');

</script>
-->


{% endblock %}
           