{% extends 'homepage_base.html' %}

{% block styles %}
  <link rel="stylesheet" href="css/pages.css" media="screen" type="text/css"/>
  
{% endblock %}

{%block color_scheme%}{%endblock%}

{%block upper_bg%}<!--<img src="/images/bgs/ignition_room.jpg" id="headerImg" alt="Hackers starting a startup">-->{% endblock%}

{%block page%}_apply{%endblock%}

{% block upper_info%}
<h1>Enterprise info</h1>
<p>Why you should work with us</p>
{% endblock %}


{% block middle_info %}


{% endblock %}

{%block unrestricted_bottom%}{%endblock%}