{% extends 'homepage_base.html' %}

{% block styles %}
  <link rel="stylesheet" href="css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{% block page%}_about{%endblock%}

{%block color_scheme%}default{%endblock%}

{%block sub_link_bar%}
    <!--{%include 'partials/sublinkbar_about.html'%}    -->
{%endblock%}

{% block upper_info%}


<div class="large-12 columns">
    <h1>Striving to make a difference</h1>
    <p>We help entrepreneurs utilize technology to enact positive, and global, change.</p>
</div>


{% endblock %}

{%block upper_bg%}{% endblock%}

{% block middle_info%}


<div class="row data">
    <div>
        <h3 class="large-12 columns">Why are we in business?</h3>
        <p class="quote large-4 columns">
                "The best minds of my generation are thinking about how to make people click ads."<br/>
                <span>Jeffrey Hammerbacher</span>
        </p>
        <p class="large-8 columns">
            We'd prefer to see the best minds of our generation build projects that <em>matter</em>, projects that transform, improve, and save lives. Prebacked was founded on the belief that startup innovation mixed with enterprise distribution and
            capital could better the world. We aim to help entrepreneurs break into the hardest industries for tech - and we've started in healthcare.

        </p>
    </div>
</div>


<div class="row data">
    <div class="large-12 columns">
        <h3>Focus on revenue over funding</h3>
        <p>
            Don't get us wrong, funding - and specifically quality investors - can rocket a business to success.
            Today, however, 'funding' seems to have become a false panacea for building a startup. We like to work with companies
            and people who feel the pain, can choose a good solution when it's presented to them, and have the means and drive to find
            solutions. When a business solves a real need, everything else starts to fall into place.
        </p>
    </div>
</div>

<div class="row data">
        <div class="small-12 medium-7 columns">
            <h3>Retargeting Silicon Valley</h3>
            <p class="">
                It's time for a movement in tech towards the difficult industries critical to our lives. While we started in Health,
                we're actively thinking about technology implementations into education, government, and empowering those in need.
                We're not a charity, however. We strongly believe that "profit" and "social good" can be synonymous. 
            </p>
            <a href="/accelerate" class="button">Check out the accelerator</a>
        </div>
        <img class="show-for-medium-up medium-5 columns" src="images/working_on_a_computer.jpeg" alt=""/>
</div>


<!--<div id="" class="row">-->
<!--    <div id="" class="small-12 medium-7 large-7 columns">-->
<!--        <h3>Share our vision?</h3>-->
<!--    </div>-->
<!--    <div id="" class="small-12 medium-5 large-5 end columns">-->
<!--        <button class="button">Check out our accelerator</button><br/>-->
<!--        or, <a href="mailto:info@prebacked.com">Email us</a>-->
<!--    </div>-->
<!--    -->
<!--</div>-->
{% endblock %}

           