{% extends 'homepage_base.html' %}

{% block title %}Prebacked Monthly: Win private meetings with corporate executives{%endblock%}

{%block fb_title%}
    {%if p_e_info.problem.title%}{{p_e_info.problem.title}}{% endif%}

{%endblock%}

{%block description%}
    {%if p_e_info.problem.value %}{{p_e_info.problem.value}}{% endif %}
{%endblock%}

{%block fb_description%}
    {%if p_e_info.problem.value %}{{p_e_info.problem.value}}{% endif %}
{%endblock%}

{% block styles %}
  <link rel="stylesheet" href="/css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{%block color_scheme%}default{%endblock%}

{%block sub_link_bar%}
    {%include 'partials/sublinkbar_accelerate.html'%}
{%endblock%}

{% block upper_info%}

<script type="text/javascript">
    console.log("p_e_info = {{challenge}}");
    console.log("p_e_info.problem = {{p_e_info.problem|safe}}");
    console.log("p_e_info.problem.title = {{p_e_info.problem.title}}");
    
</script>

<div class="small-12 large-8 columns">
    <h1>
        Engage potential customers
    </h1>

    <p>
        Every month we'll post one challenge with a corporate partner. Top teams win a private dinner with executives from their potential customer.
    </p>
    
    <div id="upper_email" class="row">
        <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="" name="mc-embedded-subscribe-form" class="validate " target="_blank">
                
                {### Auto-load hidden tags ###}
                {# Explicit tag  #}
                <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                    <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">
                    <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>
                </li>
                {# Prebacked monthly subscription #}
                <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                    <label class="checkbox" for="group_4194304">
                        <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_4194304" name="group[17685][4194304]" value="1" class="av-checkbox"><span>Monthly challenges (3 emails a month)</span> 
                    </label>
                </li>

                {# Prebacked accelerator subscription #}
                <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                    <label class="checkbox" for="group_8388608">
                        <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_8388608" name="group[17685][8388608]" value="1" class="av-checkbox"><span>Accelerator program (4 emails a year)</span> 
                    </label> 
                </li>

                {# Prebacked hackathons subscription #}
                <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                    <label class="checkbox" for="group_2097152">
                        <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_2097152" name="group[17685][2097152]" value="1" class="av-checkbox"><span>Prebacked Hackathons (4 emails a year)</span> 
                    </label> 
                </li>
                {# /Load tags #}
                <!------/Load tag-------->
                <div class=" small-12 medium-6 large-6 columns">
                    <input id="" class="email" type="email" value="" style="" name="EMAIL"  placeholder="email address" required>
                </div>
                <div class="small-12 medium-6 large-4 columns end">
                    <input id="" class="button" type="submit" style="" value="Subscribe to challenge anouncements" name="subscribe"/>
                </div>
        </form>
    </div>

    {# <a class="social" href="https://twitter.com/intent/tweet?text=Hypertension%20kills%201k/day.%20Solve%20@BlueShieldCA%20challenge,%20win%20private%20dinner%20w/%20execs%20and%20potential%20client.%20http://prebacked.com/monthly" target="_blank"> #}
        {# <img src="/images/icons/twitter.png"> #}
    {# </a> #}
    {# <a class="social" href="https://www.facebook.com/sharer/sharer.php?s=100&p%5Btitle%5D=Track+data%2C+save+1k+people+a+day%2C+win+a+potential+client&p%5Burl%5D=www.prebacked.com%2Fmonthly&p%5Bimages%5D%5B0%5D=http%3A%2F%2Fwww.prebacked.com%2Fimages%2Fprebacked_logo.png" target="_blank"> #}
        {# <img src="/images/icons/facebook.png"> #}
    {# </a> #}
</div>


    
{% endblock %}

{%block upper_bg%}<img class="show-for-medium-up" src="images/bgs/room-of-people.jpg" id="headerImg" alt="" />{% endblock%}

{% block middle_info%}



{% if upcoming_challenges %}
<div class="row">
    <div class="small-12 columns">
        <h2>Current challenge</h2>
    </div>
</div>

{% for p in challenges %}

<div class="row data upcoming_challenge" id="">
    <div class="small-12 columns">

        <div class="row">
            
            <div class="small-12 large-10 large-push-1 columns">
                <h3>
                    {# Challenge overview #}
                    {# (static info) How can we get people to capture their blood pressure to help them become healthier? #}
                    {{p.0.problem.title}}
                </h3>
            </div>

             
            
            <div class="small-12 medium-12 left columns">
                {% if p.1.sponsor%}
                <div id="sponsor_info" class="small-12 small-only-text-center medium-4 right columns">
                    <h4>Sponsoring partner</h4>
                    <img src="/partners?partner_id={{p.1.sponsor.sponsor_id}}" alt="{{p.1.sponsor.name}}, sponsoring this month's Prebacked Challenge"/>
                    
                    <p class="show-for-medium-up">
                        {{p.1.sponsor.blurb}}
                    </p>
                </div> {# end #sponsor_info #}
                {% endif %}
                <h4>The story</h4>
                <p>
                    {# The story goes here #}
                    {{p.0.problem.story|safe}}
                </p>
                <h4>The challenge</h4>
                <p>
                    {{p.0.problem.statement|safe}}
                </p>
            </div>
            
             
        </div>

        <div class="row">

            <div id="schedule" class="small-12 medium-6 columns">
                <h4>Schedule</h4>
                <table class="small-12">
                    <thead>
                        <th>Action</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Submissions open</td>
                            <td>{{p.0.event.schedule.0|date:"M jS Y"}}</td>
                        </tr>
                        <tr>
                            <td>Judging begins</td>
                            <td>{{p.0.event.schedule.1|date:"M jS Y"}}</td>
                        </tr>
                        <tr>
                            <td>Winners announcement</td>
                            <td>{{p.0.event.schedule.2|date:"M jS Y"}}</td>
                        </tr>
                        <tr>
                            <td>Winners' dinner</td>
                            <td>{{p.0.event.schedule.3|date:"M jS Y"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> {# end #schedule #}

            <div id="value" class="small-12 medium-6 columns">
                <h4>Value</h4>
                <p>
                   {{p.0.problem.value|safe}}
                </p>
                    
            </div>
        </div>

        <div class="row">
        
            <div id="advantages" class="small-12 medium-6 columns">
                <h4>Unfair advantages</h4>
                <p>{{p.0.problem.advantages|safe}}</p>
            </div>
            

            <div id="approaches" class="small-12 medium-6 columns">
                <h4>Possible approaches</h4>
                <p>{{p.0.problem.approaches|safe}}</p>
            </div>
        </div>

        <div id="corporate_quote" class="quote data row">
            <img src="images/partners/david_parpart.jpg" class="show-for-medium-up medium-2 medium-push-1 columns" />
            <div class="small-12 medium-8 medium-push-1 end columns">
                <p class="quote">
                    "The executives and mentors I met are awesome.  It is a catalyst for my creativity, opening my mind to new possibilities to improve healthcare."<br/>
                    <span class="attributed">
                        David Parpart, Co-founder: Silicon Valley Health2.0
                    </span>
                </p>
            </div>

        </div>

    </div> {# end .small-12 .columns #}
    

    <div class="small-12 medium-12 text-center columns">
        <a id="" role="button" href="" class="apply_button_{{p.0.problem.problem_id}} apply_button large button">
            Apply to win private dinner with<br/> {{p.1.sponsor.name}}'s executives<br/>
            <span>It just might be the best use of 5 minutes you'll spend today</span>
        </a>                
        <p>
            Not ready to apply right now? <a href="#stay_connected">Declare interest and get reminders</a> about the challenge.
        </p>
        
    </div>



    <div id="" class="challenge_apply_{{p.0.problem.problem_id}} challenge_apply small-12 columns" style="display:none;">
        {# ------------Application goes here---------------- #}
        <div id="wufoo-w1rxchu30fkqngf" style="">
        Fill out my <a href="https://prebackedforms.wufoo.com/forms/w1rxchu30fkqngf">online form</a>.
        </div>

    </div>

    {% if challenge_entries %}
    <div id="social-media-contest" class="row data">
        <div class="small-12 columns">
            <h3>People's choice scoreboard</h3>
            <p>
                The team with the most votes when judging ends will win an immediate invitation to the dinner. The sooner you apply, the better your chances to win.
            </p>
        
            <table class="small-12 peoples_choice">
                <thead>
                    <th width="140">Team</th>
                    <th class="">Short description</th>
                    {# <th>Voting link</th> #}
                    
                    <th class="text-center show-for-medium-up facebook" width="60">FB shares</th>
                    <th class="text-center show-for-medium-up twitter" width="60">Twitter votes</th>
                    <th class="text-center show-for-medium-up linkedin" width="60">LinkedIn votes</th>
                    <th class="text-center show-for-medium-up googleplus" width="60">Google+ votes</th>
                    <th class="text-center" width="110">Total votes<br/><span>(updates daily)</span></th>
                    
                </thead>
                <tbody>
                    {% for e in p.2 %}
                    <tr>
                        <td>
                            <a href="/monthly/{{e.Field115}}/{{e.EntryId}}"> <strong>{{e.Field2}}</strong></a>   
                        </td> {# name #}
                        <td class="show-for-medium-up">{{e.Field118}}</td>
                        {# <td><a href="/monthly/{{e.Field115}}/{{e.EntryId}}"> Vote for me</a></td> #}
                        <td class="text-right show-for-medium-up {{e.EntryId}} facebook votes fb_votes"><span>0</span></td>
                        <td class="text-right show-for-medium-up {{e.EntryId}} twitter votes twitter_votes"><span>0</span></td>
                        <td class="text-right show-for-medium-up {{e.EntryId}} linkedin votes linkedin_votes"><span>0</span></td>
                        <td class="text-right show-for-medium-up {{e.EntryId}} googleplus votes googleplus_votes"><span>0</span></td>
                        <td class="text-right {{e.EntryId}} total_votes"><a href="/monthly/{{e.Field115}}/{{e.EntryId}}"><span>0</span> votes</a></td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>

        </div>
    </div>
    {% endif %}

    <script type="text/javascript">
    var w1rxchu30fkqngf;(function(d, t) {
            var s = d.createElement(t), options = {
                'userName':'prebackedforms',
                'formHash':'w1rxchu30fkqngf',
                'autoResize':false,
                'height':'1206',
                'async':true,
                'host':'wufoo.com',
                'header':'hide',
                {# challenge is auto-imported into the website below. Need to check over the variable. #}
                {% if p.0.problem.problem_id %}'defaultValues':'field115={{p.0.problem.problem_id}}', {%endif%}
                // 'resizeDone': hideTheBox,
                'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { w1rxchu30fkqngf = new WufooForm();w1rxchu30fkqngf.initialize(options);w1rxchu30fkqngf.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');

    </script>
</div>
{% endfor %}

<div id="judging-criteria" class="row data">
    <div class="small-12 columns">
        <h3>Judging criteria</h3>
        <p>Submissions are judged by the following four criteria, which are equally weighted.</p>
        <div class="row">
            <div class="small-6 columns">
                <h4>Team strength and background</h4>
                <p>
                    How strong are the individual team members? <br/>
                    How well do your abilities complement each other?
                </p>
            </div>
            <div class="small-6 columns">
                <h4>Technical feasibility &amp; implementation costs</h4>
                <p>
                    How much effort is needed until our partner can apply your idea?<br/>
                    How much would the development &amp; integration cost?
                </p>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <h4>Functional fit</h4>
                <p>
                    How well does your product solve the challenge? <br/>
                    How could our partner benefit from your product?
                </p>
            </div>
        
            <div class="small-6 columns">
                <h4>Wow factor &amp; innovativeness</h4>
                <p>
                    How innovative is your idea / product?<br/>
                    How could your team / idea impress our partner?
                </p>
            </div>
        </div>

    </div>
</div>

{%endif%}


{% if past_challenges %}

<div class="row" id="past_challenges">
    <div class="small-12 columns">
        <h2 class="text-center">Learn from past challenges</h2>
            <div class="row">
                {% for p in past_challenges%}
                <div class="past_challenge small-12 medium-6 large-4 columns {% if forloop.counter > 3 %}show-for-medium-up{% endif %} {% if forloop.last %}end{% endif %}">
                        <div class="challenge_img show-for-medium-up text-center small-12 columns">
                            <span class="helper"></span><img src="/partners?partner_id={{p.1.sponsor.sponsor_id}}" alt="{{p.1.sponsor.name}}, a Prebacked Monthly Chalenge sponsor"/>
                        </div>

                        <div class="challenge_info small-12 columns">
                            <p class="challenge_date">{{p.0.event.full_date|date:'F Y'}}</p>
                            <p class="challenge_sponsor">{{p.1.sponsor.name}}</p>
                            <p class="challenge_blurb">{{p.0.problem.title}}</p>
                        </div>
                    <a href="/monthly/{{p.0.problem.problem_id}}"><span class="overlay"></span></a> {# Links to past challenge page #}
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{%endif%}

<div class="data" id="corporate">
    <div class="row">
        <div class="small-12 text-center columns">
            <h2>Become a corporate partner</h2>
        </div>
    </div>

    <div id="corporate_quote" class="quote row">
        <img src="images/partners/sameer_sonalkar.jpg" class="show-for-medium-up medium-2 medium-push-1 columns"/>
        <div class="small-12 medium-8 medium-push-1 end columns">
            <p class="quote">
                "Having access to Silicon Valley gives us a great opportunity, the sheer talent we have access to here is phenomenal. The diversity and experience of talent is something we could have never assembled."<br/>
                <span class="attributed">
                    Sameer Sonalkar, CTO, Wellmark BlueCross BlueShield
                </span>
            </p>
            
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <h3>Why engage</h3>
            <ul>
                <li>Engage Silicon Valley’s brightest minds</li>
                <li>Tailor-made and curated solutions to your needs</li>
                <li>Minimal effort through a lean and automated process</li>
            </ul>

        </div>

        <div id="ecosystem" class="small-12 medium-6 columns">
            <h3>Be part of our innovation ecosystem</h3>
            <ul class="small-block-grid-2 large-block-grid-3">
                <li><span class="helper"></span><img alt="BlueShield of California" src="/images/partner_companies/blue_shield_of_ca.png"></li>
                <li><span class="helper"></span><img alt="Cambia Health Solutions" src="/images/partner_companies/cambia_health.png"></li>
                <li><span class="helper"></span><img alt="Covidien" src="/images/partner_companies/covidien.png"></li>
                <li><span class="helper"></span><img alt="Validic" src="/images/partner_companies/validic.png"></li>
                <li class="show-for-large-up"><span class="helper"></span><img alt="Wilson Sonsini Goodrich and Rosati" src="/images/partner_companies/wilson_sonsini.png"></li>
                <li class="show-for-large-up"><span class="helper"></span><img alt="Amazon AWS" src="/images/partner_companies/aws.png"></li>

            </ul>

        </div>

        <div id="email_us" class="small-12 text-center columns">
            <p><a href="mailto:partner@prebacked.com">Email us</a> for more information</p>
        </div>
    </div>

</div>






<div id="stay_connected" class="">
    <div id="stay_connected_inner" class="row">
        <div id="connected_text" class="small-12 large-7 columns">
            <h2>Know upcoming challenges</h2>
            <p>Learn about future challenges first and have more time to apply. Expect about two emails a month.</p>
        </div>
        
        <div id="connected_form" class="small-12 medium-7 large-5 end columns">
            
                <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        
                        {### Auto-load hidden tags ###}
                        {# Explicit tag  #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">
                            <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>
                        </li>
                        {# Prebacked monthly subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_4194304">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_4194304" name="group[17685][4194304]" value="1" class="av-checkbox"><span>Monthly challenges (3 emails a month)</span> 
                            </label>
                        </li>

                        {# Prebacked accelerator subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_8388608">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_8388608" name="group[17685][8388608]" value="1" class="av-checkbox"><span>Accelerator program (4 emails a year)</span> 
                            </label> 
                        </li>

                        {# Prebacked hackathons subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_2097152">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_2097152" name="group[17685][2097152]" value="1" class="av-checkbox"><span>Prebacked Hackathons (4 emails a year)</span> 
                            </label> 
                        </li>
                        {# /Load tags #}
                        <!------/Load tag-------->
                        <input id="" class="email large-12" type="email" value="" style="" name="EMAIL"  placeholder="email address" required>
                        <input id="" class=" button large-8 end" type="submit" style="" value="Tell me challenges first" name="subscribe"/>
                </form>
            
            
        </div>
    </div>
</div>
{% endblock %}



{%block scripts%}

{%for p in challenges %}
<script type="text/javascript">
// when apply button is clicked, show / hide the application form
    $(document).ready(function() {  
        
        $(".apply_button_{{p.0.problem.problem_id}}").click(function() {  
             $(".challenge_apply_{{p.0.problem.problem_id}}").toggle();
             // $("#challenge_apply").toggle();
             return false;     

        });  
    });
</script>
{% endfor %}


<script type="text/javascript">

jQuery.sharedCount = function(url, fn) {
 url = encodeURIComponent(url || location.href);
 var domain = "//free.sharedcount.com/"; /* SET DOMAIN */
 var apikey = "958dd897eb5689d63117a86a7d9be23755e40152" /*API KEY HERE*/
 var arg = {
   data: {
    url : url,
    apikey : apikey
   },
 url: domain,
 cache: true,
 dataType: "json"
 };
 if ('withCredentials' in new XMLHttpRequest) {
 arg.success = fn;
 }
 else {
 var cb = "sc_" + url.replace(/\W/g, '');
 window[cb] = fn;
 arg.jsonpCallback = cb;
 arg.dataType += "p";
 }
 return jQuery.ajax(arg);
};

$(document).ready(function() {  
    {%for c in challenges%}
        {% for e in c.2 %}
        team_url = "http://www.prebacked.com/monthly/" + "{{e.Field115}}" + "/" + "{{ e.EntryId }}";
        // console.log(team_url);
        $.sharedCount(team_url, function(data){
            total_social_count = data.Twitter + data.Facebook.share_count + data.LinkedIn + data.GooglePlusOne
            // console.log(total_social_count);
            $(".{{e.EntryId}}.twitter_votes span").text(data.Twitter);
            $(".{{e.EntryId}}.fb_votes span").text(data.Facebook.share_count);
            $(".{{e.EntryId}}.linkedin_votes span").text(data.Linkedin);
            $(".{{e.EntryId}}.googleplus_votes span").text(data.GooglePlusOne);
            $(".{{e.EntryId}}.total_votes span").text(total_social_count);
        });
        {% endfor %}
    {% endfor %}
});


</script>

{% endblock %}




           