{% extends 'homepage_base.html' %}

{% block title %}Prebacked Monthly: Win private meetings with corporate executives{%endblock%}
{%block fb_title%}{%if challenge.title%}{{challenge.title}}{%else%}How can we get people to capture their blood pressure?{%endif%}{%endblock%}

{%block description%}{%if challenge.body%}{{challenge.body}}{%else%}Skilled at collecting consumer data? BlueShield of CA is concerned, hypertension causes 1k deaths a day, massively helped through tracking and intervention. If you can solve tracking, they might just be your client.{%endif%}
{%endblock%}

{%block fb_description%}{%if challenge.body%}{{challenge.body}}{%else%}Skilled at collecting consumer data? BlueShield of CA is concerned, hypertension causes 1k deaths a day, massively helped through tracking and intervention. If you can solve tracking, they might just be your client.{%endif%}{%endblock%}

{% block styles %}
  <link rel="stylesheet" href="/css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{%block color_scheme%}default{%endblock%}

{%block sub_link_bar%}
    {%include 'partials/sublinkbar_accelerate.html'%}
{%endblock%}

{% block upper_info%}  
{% endblock %}

{%block upper_bg%}
    {# <img class="show-for-medium-up" src="images/bgs/room-of-people.jpg" id="headerImg" alt="" /> #}
{% endblock%}

{% block middle_info%}


{% for p in challenge%}
<div class="row data" id="upcoming_challenge">
    <div class="small-12 columns">
        <div class="row">
            
            <div id="challenge_title" class="small-12 large-10 large-push-1 text-center columns">
                <h3>
                    {# Challenge overview #}
                    {# How can we get people to capture their blood pressure to help them become healthier? #}
                    {{p.0.problem.title}}
                </h3>
            
                <h4 class="lead"><strong>{{p.0.event.full_date|date:'F Y'}}:</strong> {{p.1.sponsor.name}}</h4>
            </div>

            {# Safety catch in case we haven't selected any winners after the anouncement #}
            {% if not live_event and not winners %}
                <div class="small-12 text-center columns">
                    <p>Thank you everyone who applied for this months' challenge. Winners will be announced very shortly.</p>
                </div>
            {% endif %}

            {# if the event is over and at least one winner has been declared #}
            
            {% if not live_event and winners %} 

            <div id="winners" class="text-center small-centered">
                 <div class="small-12 columns">
                     <h3>The winners</h3>
                     <p>Congratulations to our winners for their great solutions</p>
                 </div>

                {% for e in winners %}
                    {% if not forloop.first %}-->{%endif%}<div class="winner small-12 medium-4 columns">
                        <div class="winner_inner">
                            {% comment %} {# This is in case we have an image upload #}
                            <div class="img_container">
                                <img src="/images/teams/lyfechannel.jpg"/>
                            </div>
                            {% endcomment %}

                            <p class="title">{{e.Field2}}</p>
                            <p>Tagline (To be implemented)</p>
                            <a id="{{e.EntryId}}" href="/monthly/{{challenge_id}}/{{e.EntryId}}"><span></span></a>
                        </div>
                    </div>{%if not forloop.last%}<!--{%endif%} {# the strange HTML commenting is due to whitespace issues caused by disply:inline-block #}
                {% endfor %}
                <!-- --> {# this comment is just so color matching work again #}

                {% comment %}
                <div class="winner small-12 medium-4 columns">
                    <div class="winner_inner">
                        <div class="img_container">
                            <img src="/images/teams/lyfechannel.jpg"/>
                        </div>
                        <p class="title">Wellband</p>
                        <p>A band for wellness that is awesome. You're welcome.</p>
                        <a href="/monthly/{{challenge_id}}/wellband"><span></span></a>  {# need to put in team name #}
                    </div>
                </div><!--
                --><div class="winner small-12 medium-4 columns">
                    <div class="winner_inner">
                        <div class="img_container">
                            <img src="/images/teams/lyfechannel.jpg"/>
                        </div>
                        <p class="title">Wellband</p>
                        <p>A band for wellness that is awesome. You're welcome.</p>
                        <a href="/monthly/{{challenge_id}}/wellband"><span></span></a>  {# need to put in team name #}
                    </div>
                </div><!--
                -->
                {% endcomment %}

            </div>

            {% endif %}

            <div class="small-12 medium-12 left columns">
                {% if p.1.sponsor%}
                <div id="sponsor_info" class="small-12 small-only-text-center medium-4 right columns">
                    <h4>Sponsoring partner</h4>
                    <img src="/partners?partner_id={{p.1.sponsor.sponsor_id}}" alt="{{p.1.sponsor.name}}, sponsoring this month's Prebacked Challenge"/>
                    
                    <p class="show-for-medium-up">
                        {{p.1.sponsor.blurb}}
                    </p>
                </div> {# end #sponsor_info #}
                {% endif %}
                <h4>The story</h4>
                <p>
                    {# The story goes here #}
                    {{p.0.problem.story|safe}}
                </p>
                <h4>The challenge</h4>
                <p>
                    {{p.0.problem.statement|safe}}
                </p>
            </div>

        </div>

        {% if live_event%}
        <div class="row">

            <div id="schedule" class="small-12 medium-6 columns">
                <h4>Schedule</h4>
                <table class="small-12">
                    <thead>
                        <th>Action</th>
                        <th>Date</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Submissions open</td>
                            <td>{{p.0.event.schedule.0|date:"M jS Y"}}</td>
                        </tr>
                        <tr>
                            <td>Judging begins</td>
                            <td>{{p.0.event.schedule.1|date:"M jS Y"}}</td>
                        </tr>
                        <tr>
                            <td>Winners announcement</td>
                            <td>{{p.0.event.schedule.2|date:"M jS Y"}}</td>
                        </tr>
                        <tr>
                            <td>Winners' dinner</td>
                            <td>{{p.0.event.schedule.3|date:"M jS Y"}}</td>
                        </tr>
                    </tbody>
                </table>
            </div> {# end #schedule #}

            <div id="value" class="small-12 medium-6 columns">
                <h4>Value</h4>
                <p>
                   {{p.0.problem.value|safe}}
                </p>
                    
            </div>
        </div>

        <div class="row">
        
            <div id="advantages" class="small-12 medium-6 columns">
                <h4>Unfair advantages</h4>
                <p>{{p.0.problem.advantages|safe}}</p>
            </div>
            

            <div id="approaches" class="small-12 medium-6 columns">
                <h4>Possible approaches</h4>
                <p>{{p.0.problem.approaches|safe}}</p>
            </div>
        </div>

        <div id="corporate_quote" class="quote row">
            <img src="/images/partners/david_parpart.jpg" class="show-for-medium-up medium-2 medium-push-1 columns" />
            <div class="small-12 medium-8 medium-push-1 end columns">
                <p class="quote">
                    "The executives and mentors I met are awesome.  It is a catalyst for my creativity, opening my mind to new possibilities to improve healthcare."<br/>
                    <span class="attributed">
                        David Parpart, Co-founder: Silicon Valley Health2.0
                    </span>
                </p>
            </div>

        </div>
        
        {% endif %}
    </div> {# end .small-12 .columns #}
    
    {% if live_event%}
    <div class="small-12 medium-12 text-center columns">
        <a id="apply_button" role="button" href="" class="large button">
            Apply to win private dinner with<br/> BlueShield of CA executives<br/>
            <span>It just might be the best use of 5 minutes you'll spend today</span>
        </a>                
        <p>
            Not ready to apply right now? <a href="#stay_connected">Declare interest and get reminders</a> about the challenge.
        </p>
    </div>

    <div id="challenge_apply" class="small-12 columns" style="display:none;">
        {# ------------Application goes here---------------- #}
        <div id="wufoo-w1rxchu30fkqngf" style="">
        Fill out my <a href="https://prebackedforms.wufoo.com/forms/w1rxchu30fkqngf">online form</a>.
        </div>
    </div>

    {% if challenge_entries %}
    <div id="social-media-contest" class="row data">
        <div class="small-12 columns">
            <h3>Consumer's choice wildcard</h3>
            <p>The team which is voted by our visitors will come to the dinner directly as a wildcard</p>
            <div class="row">
                <script type="text/javascript">
                    console.log("p.2 = {{p.2}}")
                </script>

                {% for e in challenge_entries %}
                    <div class="small-3 columns">
                        <h4>{{e.Field2}}</h4>
                        <p>Tagline (To be implemented)</p>
                        <a id="{{e.EntryId}}" href="/monthly/{{e.Field115}}/{{e.EntryId}}" class="button"> Votes</a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <script type="text/javascript">
    var w1rxchu30fkqngf;(function(d, t) {
            var s = d.createElement(t), options = {
                'userName':'prebackedforms',
                'formHash':'w1rxchu30fkqngf',
                'autoResize':false,
                'height':'1106',
                'async':true,
                'host':'wufoo.com',
                'header':'hide',
                {# challenge is auto-imported into the website below. Need to check over the variable. #}
                {% if p.0.problem.problem_id %}'defaultValues':'field115={{p.0.problem.problem_id}}', {%endif%}
                // 'resizeDone': hideTheBox,
                'ssl':true};
            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
            s.onload = s.onreadystatechange = function() {
            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
            try { w1rxchu30fkqngf = new WufooForm();w1rxchu30fkqngf.initialize(options);w1rxchu30fkqngf.display(); } catch (e) {}};
            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');

    </script>
    {% endif%}
</div>
{% endfor %}











            




<div id="stay_connected" class="">
    <div id="stay_connected_inner" class="row">
        <div id="connected_text" class="small-12 large-7 columns">
            <h2>Know upcoming challenges</h2>
            <p>Learn about future challenges first and have more time to apply. Expect about two emails a month.</p>
        </div>
        
        <div id="connected_form" class="small-12 medium-7 large-5 end columns">
            
                <form action="http://prebacked.us5.list-manage.com/subscribe/post?u=3572fa1f9d829a0cc324cce2a&amp;id=f29adcde57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                        
                        {### Auto-load hidden tags ###}
                        {# Explicit tag  #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <input type="checkbox" checked="checked" id="group_1" name="group[7405][1]" value="1" style="-webkit-appearance: checkbox;display: inline !important;margin: 0;padding: 5px;border: 0;background: none;width: auto !important;font-family: Helvetica;font-size: 18;color: #F5F5F5;">
                            <label for="group_1" style="float: none;clear: none;display: inline;width: auto;margin-top: 8px;text-align: left;font-weight: normal;position: relative;line-height: 150%;font-family: Helvetica;font-size: 14px;color: #333333;padding: 0 30px 0 3px;">Explicit Signups</label>
                        </li>
                        {# Prebacked monthly subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_4194304">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_4194304" name="group[17685][4194304]" value="1" class="av-checkbox"><span>Monthly challenges (3 emails a month)</span> 
                            </label>
                        </li>

                        {# Prebacked accelerator subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_8388608">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_8388608" name="group[17685][8388608]" value="1" class="av-checkbox"><span>Accelerator program (4 emails a year)</span> 
                            </label> 
                        </li>

                        {# Prebacked hackathons subscription #}
                        <li class="interestgroup_row" style="visibility: hidden !important;margin: 0;padding: 0;list-style: none;position:absolute;">
                            <label class="checkbox" for="group_2097152">
                                <input type="checkbox" checked="checked" data-dojo-type="dijit/form/CheckBox" id="group_2097152" name="group[17685][2097152]" value="1" class="av-checkbox"><span>Prebacked Hackathons (4 emails a year)</span> 
                            </label> 
                        </li>
                        {# /Load tags #}
                        <!------/Load tag-------->
                        <input id="" class="email large-12" type="email" value="" style="" name="EMAIL"  placeholder="email address" required>
                        <input id="" class=" button large-8 end" type="submit" style="" value="Tell me challenges first" name="subscribe"/>
                </form>
            
            
        </div>
    </div>
</div>


{% endblock %}



{%block scripts%}


<script type="text/javascript">
var w1rxchu30fkqngf;(function(d, t) {
        var s = d.createElement(t), options = {
            'userName':'prebackedforms',
            'formHash':'w1rxchu30fkqngf',
            'autoResize':false,
            'height':'1106',
            'async':true,
            'host':'wufoo.com',
            'header':'hide',
            {# challenge is auto-imported into the website below. Need to check over the variable. #}
            {% if challenge.title %}'defaultValues':'field115={{challenge.title}}', {%endif%}
            // 'resizeDone': hideTheBox,
            'ssl':true};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { w1rxchu30fkqngf = new WufooForm();w1rxchu30fkqngf.initialize(options);w1rxchu30fkqngf.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');

</script>

<script type="text/javascript">
$(document).ready(function() {  
    
    $("#apply_button").click(function() {  
         $("#challenge_apply").toggle();
         // $("#challenge_apply").toggle();
         return false;     
    });  
    
});
</script>
{% endblock %}




           