{% extends 'homepage_base.html' %}

{% block styles %}
  <link rel="stylesheet" href="css/pages.css" media="screen" type="text/css"/>
{% endblock %}

{%block color_scheme%}default{%endblock%}

{%block sub_link_bar%}
    {%include 'partials/sublinkbar_accelerate.html'%}    
{%endblock%}

{% block upper_info%}{% endblock %}

{% block middle_info%}

<div class="row middle_headline">
    <div class="large-12 large-centered columns">
        {# <h2>Program to tailor startup innovation to corporate needs</h2> #}
        <h2>De-risked innovation, 50x ROI, tailored to your needs</h2>
        <p>
            Prebacked works with corporate executives to jointly select, mentor, and tailor a startup's product and business model to the corporation's business challenges. We focus startups from day one to find the core need and build a product to produce a 50x ROI through a proven engagement framework.
        </p>
    </div>
</div>

<div class="row data">
    <div class="small-12 columns">
        <h3>Tailoring innovation to bend the cost curve</h3>
        <p>Entrepreneurs drive massive ROI by solving for your challenges, not what they believe are your challenges.</p>
    </div>

        <p class="small-12 medium-8 columns">
            We start our search for startups with a list of our corporate partners’ challenges based on their business objectives, ensuring corporate &amp; startup alignment from day 0. During the program, teams work for 4 months to tailor their product to solve our partner's needs and maximize ROI while integrating into the partner's corporate workflow. 
        </p>
        <p class="small-12 medium-4 columns">
            <strong>Our primary question:</strong> <br/>
            “Can this startup's technology be tailored to solve one of our corporate partner’s challenges?”
        </p>
</div>


<div id="entrepreneur_innovation" class=" data">
    <div class="row ">
        <h3 class="small-12 columns">Exponentially cut R&amp;D time through entrepreneurial innovation</h3>
        
    </div>
    <div class="row">
        <div class="small-12 medium-7 columns">
            <div class="row">
                <p class="small-12 medium-12 columns">
                    By carefully aligning stakeholders we've produced high quality innovation at dirt-cheap prices in only four months. For example: we helped tailor an Artificial Intelligence platform used in customer service to reduce diabetes incidents through pre-diabetic education and training, saving up to $50,000 per patient, <em>per year</em>. Deployed to 2000 members for a $175,000 out-the-door cost, the project has a 73x potential ROI over 3 years from just 8% adoption.
                </p>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <h4>Partner benefits:</h4>
                    <ul class="">
                        <li>50x ROI</li>
                        <li>Tailored innovation</li>
                        <li>Option for right of first refusal</li>
                        <li>Projects co-funded by Venture Capital</li>
                    </ul>
                </div>
                
                <div class="small-12 medium-6 columns">
                    <h4>Startup benefits:</h4>
                    <ul class="">
                        <li>Refine product to market</li>
                        <li>You, as their first customer</li>
                        <li>Validation for venture capitalists</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="small-12 medium-5 columns">
            <img src="/images/engage_small.jpg" alt="Engaging with teams at the accelerator."/>
        </div>
    </div>
    <div class="row">
        <img src="/images/partners/tim_connors.jpg" class="show-for-medium-up medium-2 columns"/>
        <p class="quote small-12 medium-10 end columns">
               "Prebacked is the coolest program I've seen to get Fortune 500 companies and Silicon Valley working together. Having a pilot contract signed with a Fortune 500 customer is a game changer for attracting the best early-stage VCs."
                <span>Tim Connors, Founder and General Partner: Pivot North Capital</span>
        </p>
        
    </div>
</div>

<!-- 
<div class="data">
    <div class="row">
        <div class="small-12 columns">
            <h3>Three steps towards tailored solutions.</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <h4>Source</h4>
            <img src="/images/source.jpg" alt="Sourcing teams at a Prebacked application day."/>
            <p>
                We begin from sourcing innovation from our angel and venture capitalist partners, strategic partnerships, and network of over 120,000 entrepreneurs. Team origins range from Silicon Valley to Sidney. 
            </p>
        </div>
        <div class="small-12 medium-4 columns">
            <h4>Screen</h4>
            <img src="/images/screen.jpg" alt="Screening teams through mentorship."/>
            <p>
                Teams are screened through our Application Day events in strategic cities. Finalists are flown to Silicon Valley where they participate in a similar process with our corporate executives.
            </p>
        </div>
        <div class="small-12 medium-4 columns">
            <h4>Engage</h4>
            <img src="/images/engage.jpg" alt="Engaging with teams at the accelerator."/>
            <p>
                Executives select 1-3 teams apiece for a 4 month accelerator engagement, sign a letter of intent, and earmark capital for contract day. Over the engagement, teams tailor their product with their partners to maximize ROI.
            </p>
        </div>
    </div>
</div>
 -->

<div class="data">
    <div class="row">
        <div class="small-12 columns">
            <h3>
                Cohorts have included brilliant and serial entrepreneurs
            </h3>
            <p>
                A list of previous cohort finalists
            </p>
        </div>
    </div>

    <div id="" class="row">
        <div id="demographics" class="small-12 medium-5 large-push-1 large-4 columns">
            <table>
                <thead>
                    <tr>
                        <th><span>56</span> Teams</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span>121</span> Engineers</td>
                    </tr>
                    <tr>
                        <td><span>76</span> Former founders</td>
                    </tr>
                    <tr>
                        <td><span>31</span> PhDs</td>
                    </tr>
                    <tr>
                        <td><span>20</span> Physicians</td>
                    </tr>
                    <tr>
                        <td><span>18</span> JDs</td>
                    </tr>
                    <tr>
                        <td><span>3</span> Professors</td>
                    </tr>
                    <tr>
                        <td><span>1</span> Forbes 30 under 30</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="show-for-medium-up medium-7 large-6 columns large-pull-1">
            <img src="images/cognea_small.jpg" alt="Cognea team in final round of application day."/>
        </div>
    </div>
    <div id="" class="row">
        
        <p class="quote small-12 medium-8 medium-push-1 columns">
            "If that team walked into my office with no ideas I’d still have funded them. They are that impressive."<br/>
            <span>Erik Straser, Venture Capitalist</span>
        </p>
        
        <img src="images/partners/erik_straser.jpg" class="show-for-medium-up medium-2 medium-push-1 end columns"/>
    </div>

    
    <!-- 
    <div class="row">
        <div  class="small-12 medium-8 large-7 end columns">
            <h4>
                Cognea: From banking to healthcare in 120 days
            </h4>
            <p>
                By January, Cognea, an artificial intelligence platform powering online avatars, had been tested heavily… in banking. 4 months later they secured a two phase, paid pilot for diabetes management and prevention, putting Regence at the tip of the spear in innovation.
            </p>
        </div>
        <div class="small-12 medium-4 large-5 columns">
            <img src="images/cognea.jpg" alt="Cognea team in final round of application day."/>
        </div>
    </div>

    <div class="row spacer">
        <h4 class="small-12 columns">MediMsg: a team like no other</h4>
        <div class="small-12 medium-8 large-6 columns">
            
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
                    <li>
                        <img src="images/partners/john_smart.jpg" alt="John Smart" class="small-12"><br/>
                        <strong>John Smart</strong> <br/> 
                        Zoosk Co-Founder & Chief Architect (Top 100 Site). Built 50-engineer division.
                    </li>
                    <li>
                        <img src="images/partners/virginia_wang.jpg" alt="Virginia Wang" class="small-12"><br/>
                        <strong>Virginia Wang</strong><br/>
                        3rd YouTube PM, co-founded 4 / 5 product teams. Founding member of PayPal's PMO.</li>
                    <li>
                        <img src="images/partners/andy_lam.jpg" alt="Andy Lam" class="small-12"><br/>
                        <strong>Andy Lam</strong><br/>
                        Physician-turned-investor. Founded $300MM fund. 2x VC-funded entrepreneur.</li>
                </ul>
        </div>
   
    </div>
    -->
</div>


<div id="industry_partners" class="row data">
    <div class="large-12 columns">
        <h3>Proven in industry</h3>
        <p>Join a growing list of companies looking to leverage entrepreneurial innovations.</p>
        <p>
      
            <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                <li>                    
                        <img src="images/partner_companies/wellmark.png" alt="Wellmark" class="partner_company"/>
                </li>
                <li>
                        <img src="images/partner_companies/cambia_health.png" alt="Cambia Health Solutions" class="partner_company"/>
                </li>
                <li>
                        <img src="images/partner_companies/regence.png" alt="Regence" class="partner_company"/>
                </li>
                
            </ul>
        </p>
    </div>
</div>

<div id="quotes" class="data">
    <h3>Don't take our word for it</h3>
    <div class="quote row">
        <img src="images/partners/lisa_brubaker.jpg" class="show-for-medium-up medium-2 columns"/>
        <div class="small-12 medium-8 end columns">
            <p class="quote">
                "The Prebacked Program was one of the coolest things I've participated in during my career."<br/>
                <span class="attributed">
                    Lisa Brubaker,
                    SVP Government Services: Regence BlueCross BlueShield
                </span>
            </p>
            
        </div>
    </div>
    <div class="quote row">
        <img src="images/partners/mike_townsend.jpg" class="show-for-medium-up medium-push-10 medium-2 columns"/>
        <div class="small-12 medium-8 medium-pull- end columns">
            <p class="quote">
                "I absolutely love the Prebacked concept. It gets me genuinely excited to see this in the world."<br/>
                <span class="attributed">
                    Mike Townsend, Serial entrepreneur, Founder: HomeHero
                </span>
            </p>
            
        </div>
    </div>
    <div class="quote row">
        <img src="images/partners/michael_carney.jpg" class="show-for-medium-up medium-2 columns"/>
        <div class="small-12 medium-8 end columns">
            <p class="quote">
                "The strength of Prebacked lays in its ability to connect and facilitate business between two worlds that desperately need each other, but have no ability to interact effectively on their own."<br/>
                <span class="attributed">
                    Michael Carney, Pando Daily
                </span>
            </p>
        </div>
    </div>
</div>

<div class="row data">
    <div class="small-12 columns">
        <h3>Limited availability, secure your seat</h3>
    </div>
    <div class="small-12 large-9 end columns">
        <p>
            Prebacked only works with a few executive sponsors, twice a year.<br/><br/>
            Executives have final say in which startups they and Prebacked mentor over the course of the program. We also ensure that no two engaged   corporations are direct competitors in their market.
        </p>
    </div>
<!--     <div class="small-12 large-3 columns">
        <p>
            <strong>Engagement deadlines:</strong> <br/>
            Winter class: Aug 1st <br/>
            Summer class: Feb 1st
        
        </p>
    </div> -->
</div>

<div class="row data">
    <div class="small-12 text-center columns">
        <p> Email <a href="mailto:partnerships@prebacked.com"> partnerships@prebacked.com</a> </p>
    </div>
</div>


{% endblock %}

           