<!DOCTYPE html>
  <head>
    <meta charset= "utf-8">
    <title>Medhack: Corporate Sponsorship</title>
    
    <!-- Set the width of a browser's viewport to the width of a device's screen -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <link rel="stylesheet" href="../css/premier.css">

    <link rel="canonical" href="http://medhack.prebacked.com">


  </head>
  <body>
    
    <div id="container">

      <header id="sponsor-header" class="white">
        <nav>
          <div class="nav-inner">
            <a href="/">MedHack</a>
            <ul class="nav-list">
              <a class="nav-link" href="#"><li>sponsors</li></a>
            </ul>
          </div>
        </nav> 
               
        <div class="content">
          
          <div class="left half">  
            <h1>
              Corporate
              <span class="i">Sponsorship</span>
            </h1>  
          </div> <!-- end left-half -->
          
          <div class="half">
            <h2>Medhack <span class="i">Partner</span> Program</h2>
            <p>Companies participating in the MedHack Partner Program provide vital financial support for MedHack's MedHackathon events.  These events gather a wide variety of innovative experts in medicine and technology to stimulate rapid advancements in healthcare tech through friendly competition.</p>

            <p class="contact-us">Contact <a href="mailto:partners@prebacked.com" target="_blank">partners@prebacked.com</a> to apply
            </p>

            <p>Download a <a href="#">sponsor packet (.pdf)</a></p>

          </div> <!-- end right-half -->

            <div class="clear"></div>

        </div><!-- end content -->

      </header>

<!-- Opportunities ====================== -->

      <section id="sponsor-ops" class="purp-dark">
        <header><h3>Sponsorship Opportunities</h3></header>
        
        <div class="content centered">    
          
          <div class="schedule-left">
            <ul>
              <li><b>Events</b></li>
              <li>June 20-21 Silicon Valley</li>
              <li>July 19-20 Washington DC</li>
              <li>July 26-27 Boston, MA</li>
            </ul>
          </div>
          
          <div class="schedule-right">
            <ul>
              <li><b>Partner Registration</b></li>
              <li>May 1st - June 1st</li>
              <li>June 1st - July 1st</li>
              <li>June 6th - July 6th</li>
            </ul>
          </div>
          


        </div> <!-- end content -->
        
        <div class="clear"></div>
      
      </section>

<!-- Engagement ======================== -->

      <section id="pro-engagement" class="purp-black">

          <header>
            <h3>Professional Engagement</h3>

              <div class="inner">
                <p>Partner engagement with attendants is absolutely essential to the MedHack experience.  Many of our engagement opportunities can be custom tailored to meet your company's specific outreach goals.</p>
             </div>
          </header>
          
          <div class="content centered">
              
            <div class="attendee-left" class="attendees">
              <div id="attendee-volume">
                <p>
                  100-150 
                  <span class="i">Attendees</span>
                </p>
              </div> <!-- end attendee volume -->
            </div> <!-- end attendees left-->
            
            <div class="attendee-right">
                
                <div id="attendee-devs">
                  <p>
                    Developers 
                    <span class="i">50%</span>
                  </p>
                </div>
                
                <div id="attendee-PHD">
                  <p>
                    PHDs 
                    <span class="i">30%</span>
                  </p>
                </div>

                <div id="attendee-solo">
                  <p>Entrepreneurial 
                    <span class="i">10%</span>
                  </p>
                </div>
            
              </div>
              
            <div class="clear"></div>
        
        </div><!-- end content -->
       
      </section><!-- end engagement section -->

      
<!-- Priveliges  ======================= -->

      <main role="main" id="priveliges" class="silver" >

        <header><h3>Recognition and Priveliges</h3></header>
        
        <div class="content">
        
          <div class="spons-priv">
            
            <div class="program left">

                <h4>Contributing Partner</h4>
                <span class="price">$3,500.00</span>
        

            </div> <!-- end left -->
            
            <div class="benefits">

              <ul>
                <li>Give a gift to the attendees</li>
                <li>Your Popup Banner in Sponsor Row</li>
                <li>Your logo on sponsor pages, banners, and event media</li>
              </ul>
            
            </div> <!-- end right -->

            <div class="clear"></div>

          </div>
          
          <div class="spons-priv">
           
            <div class="program left">

              <h4>Distiguished Partner</h4>
              <div class="price">$6,500.00</div>
              <p class="includes">The Distinguished Partner Program builds upon the Contributing Parter Program with these additional priveliges</p>

            </div>
           
            <div class="benefits">    
              
              <ul>
                <li>Custom tailored engagement opportunity</li>
                <li>Your ambassador on the judges panel</li>
                <li>Brand presence in team-building hour</li>
                <li>Access to a private breakout room</li>
                <li>20 word description on the Sponsor Page</li>
                <li>Present a prize to the top three teams :: Up to $5,000</li>
                <li>Create your own prize :: Up to $2,000</li>
              </ul>

            </div>

            <div class="clear"></div>

          </div>

          <div class="spons-priv">
            
            <div class="program left">
              <h4>Featured Partner</h4>
              <div class="price">$12,500.00</div>
              <p class="includes">The Featured Partner Program builds upon the Distinguished Parter Program with these additional priveliges</p>
            </div>

            <div class="benefits">
              <ul>
                <li>Host a workshop during the hackathon</li>
                <li>Give an introductory keynote presentation</li>
                <li>Present a prize to the top three teams :: Up to $10,000</li>
                <li>Create your own prize :: Up to $5,000</li>
              </ul>
            </div>

            <div class="clear"></div>

          </div>

          <div class="spons-priv">
            <div class="program left">

                <h4>Frontier Partner</h4>
                <div class="price">$25,000.00</div>
                <p class="includes">The Frontier Partner Program includes Platinum Partner priveliges</p>

            </div>

            <div class="benefits">
              <ul>
                <li>We'll fly our organizers out to help you throw a MedHackathon in your city</li>
              </ul>
            </div>

            <div class="clear"></div>

          </div>

        </div> <!--end content -->

        <section id="upgrades" class="silver">
          
          <header>
            <div class="inner">
              <h3>Additional Upgrades</h2>
              <p>Upgrades can be purchased to extend any of our Partner Programs</p>
            </div>
          </header>
          
          <div class="content centered">
            <ul class="half">
             <li>Hold a pre-event workshop :: $4,000.00 </li>
             <li>Give branded power strips to the attendees :: $2,500.00</li>
            </ul>

        </div>

      </section>

      </main> <!-- end privileges -->
     


<!-- Past Sponsors ====================== -->

      <section id="past-sponsors" class="purp-dark">
        <header><h3>Past Sponsors</h3></header>

        <div class="content centered">
        
            <div class="past-sponsor">
              <img src="/images/sponsors/past/amazon-web-services.png" alt="sponsor">
            </div>

            <div class="past-sponsor">
              <img src="/images/sponsors/past/originate.png" alt="sponsor">
            </div>

            <div class="past-sponsor">
              <img src="/images/sponsors/past/twilio.png" alt="sponsor">
            </div>

             <div class="past-sponsor">
              <img src="/images/sponsors/past/microsoft-bizspark.png" alt="sponsor">
            </div>

            <div class="past-sponsor">
              <img src="/images/sponsors/past/palantir.png" alt="sponsor">
            </div>

            <div class="past-sponsor">
              <img src="/images/sponsors/past/practice-fusion.png" alt="sponsor">
            </div>

             <div class="past-sponsor">
              <img src="/images/sponsors/past/zurb.png" alt="sponsor">
            </div>
            

        

          <div class="call-email">            
              <p>
                <strong>Have questions?  Ask us anything about our partner programs</strong>
              </p>
              <span class="i">partners@prebacked.com</span>
            </div>

        </div> <!-- end content -->

      </section> <!-- end past sponsors -->

     


      <footer>

        <div class="content">
            
          <div id="company-info" class="left">
            <p>Medhack: Healthcare Hackathon Events</p>
            <p>&copy; 2014 Prebacked</p>
          </div>
          
            <a class="right" href="mailto:medhack@prebacked.com">medhack@prebacked.com</a>
            
          </div>
          <div class="clear"></div>

        </div> <!-- end content -->
          
      </footer>
    

<!-- Scripts ====================== -->


    <!--clicky analytics-->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>    
    <script type="text/javascript">try{ clicky.init(100526234); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100526234ns.gif" /></p></noscript>

    <!--goog analytics-->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30100162-2']);
      _gaq.push(['_setDomainName', 'prebacked.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>

