<!DOCTYPE html>
  <head>
    <meta charset= "utf-8">
    <title>{%if city%}{{city}} {%endif%}MedHack | 24 Hour health technology hackathon</title>
    
    <!-- Set the width of the browser's viewport to the 

    width of a device's screen -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <meta http-equiv="description" content="A 24 hour health care hackathon."/>

    {# Stylesheets #}
    <link rel="stylesheet" href="../css/premier.css">

    <!--Open Graph (facebook) Properties-->
    <meta property="og:site_name"   content="MedHack, by Prebacked"/>
    <meta property="og:url"         content="http://www.prebacked.com/medhack/{{url}}"/>
    <meta property="og:description" content="Join 150 developers and doctors, learn challenges from industry executives, form teams, and hack to spark innovations in health tech {%if city%}in {{city}}{%endif%}{%if e.full_date%}, {{e.full_date|date:'M jS'}} - {{e.full_date|add_a_day|date:'jS'}}{%endif%}."/>
    <meta property="og:title"       content="MedHack {%if city%}in {{city}}{%endif%}: 24 Hour Health Hackathon{%if e.full_date%}, {{e.full_date|date:'M jS'}} - {{e.full_date|add_a_day|date:'jS'}}{%endif%}"/>
    <meta property="og:image"       content="http://www.prebacked.com/images/medhack/working-on-a-computer.jpg" /> 

    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30100162-2']);
      _gaq.push(['_setDomainName', 'prebacked.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>



  <body>
   

    <div id="container">

      <header id="event-header" class="purp-dark">
      
        <nav>
          <div class="nav-inner">
            <a href="/medhack">MedHack</a>
            <ul class="nav-list">
              <a class="nav-link" href="/medhack/sponsor"><li>Sponsorship opportunities</li></a>
            </ul>
          </div>
        </nav> 

        <div class="content centered">
       
          <div id="event-logo">
       
            <img src="/images/medhack/medhack-logo.png" alt="MedHack Logo">
       
          </div> <!-- end logo container -->
       
          <h1>MedHack <span class="i">{{city}}</span></h1>
         
          <p class="date">{{e.full_date|date:'D, M jS'}} - {{e.full_date|add_a_day|date:'jS, Y'}}</p>
       
        </div> <!-- end content -->

        <a class="twitter" href="https://twitter.com/intent/tweet?text=Hack+on+industry+challenges+at+%23MedHack+hackathon+in+{{city}}.+{{e.full_date|date:'D, M jS'}}+and+{{e.full_date|add_a_day|date:'jS'}}%2E+http://prebacked.com/medhack/{{url}}%2C+by+%40prebacked" target="_blank" >twitter</a> 

{# <!-- Create custom twitter message tailored for each city --> #}
        
        <a class="fb-share-button facebook" href="http://www.facebook.com/sharer.php?s=100&p[title]=titlehere&p[url]=www.prebacked.com/medhack/{{url}}&p[images][0]=http://www.prebacked.com/images/medhack/working-on-a-computer.jpg" target="_blank">facebook</a>

        

      </header>
      
<!-- featured sponsors ================== -->

{% if featured_sponsors %}
      <section id="featured-sponsors" class="silver">

        <header><h3>Featured Sponsor{{featured_sponsors|pluralize}}</h3></header>

        <div class="content centered">
          <!--       
          <div class="featured-event-sponsor">
            <img src="/images/sponsors/stand-in.png" alt="sponsor">
          </div>
          -->
          {%for f in featured_sponsors%}

            
          <a href="{{f.sponsor.homepage}}" target="_blank">
            <div class="featured-event-sponsor">
              <img src="/partners?partner_id={{f.sponsor.sponsor_id}}" alt="Prebacked partner {{f.sponsor.name}}"/>
            </div>
          </a>
            

          {% endfor %}

        </div>

      </section> <!-- end featured sponsors -->
{%endif%}

<!-- Overview ==================== -->

      <section id="overview" class="white content">

        <header class="">
          <h3>Build technology that changes lives</h3>
          <p>We're bringing talented developers and medical experts together for a weekend-long hackathon to spark new innovations in health care technology in a fun and competitive environment.</p>
        </header>

        <div class="">

          <div class="third centered">
            <h3><span class="i">Learn</span></h3>
            <p>
              Learn challenges facing the health care industry from the industry executives that face challenges every day
              {# Get hands on training with the technologies shaping the landscape of health care from the leading experts who built them #}
            </p>
          </div>

          <div class="third centered">
            <h3><span class="i">Unite</span></h3>
            <p>Build a team with like-minded professionals and develop new health care technology for web, mobile, or hardware
             {# for web, mobile, and desktop platforms #}
           </p>
          </div>

          <div class="third centered">
            <h3><span class="i">Compete</span></h3>
            <p>Go head to head with your peers to see who can build the most amazing new products in health care tech</p>
          </div>

        </div> <!-- end content -->

      </section><!-- end overview -->

<!-- Images / Gallery  ======================= -->
    <section id="gallery" class="white">
        <img src="/images/medhack/working-on-a-computer.jpg" alt="" class="third"/><img src="/images/medhack/hacker-room.jpg" alt="" class="third hide-for-small-only"/><img src="/images/medhack/post-its.jpg" alt="" class="third hide-for-small-only"/>
      
    </section>

<!-- Ticketing  ======================= -->

      <main role="main" class="white">
        
        <div class="content centered">
          
          <header class="venu left">
            <span class="venu-img"><img src="/images/icons/medhack-event-location.png" alt="MedHack Event Location">
            </span>
    
            <h3>{%if venue%}{{venue}}{%endif%}</h3>
            <p>{%if address%}{{address}}, {{city}}{%endif%}</p>           
          <div class="clear"></div>

          </header>
          
          <div id="eventbrite">


            {%if ticketing%}
              {{ticketing|safe}}
            {%endif%}

          </div> <!-- end eventbrite -->

        </div> <!-- end content -->
          
      </main><!-- end ticketing -->


<!-- Prizes  ===================================== -->

      <section id="Prizes" class="purp-dark">

        
        <header>
          <h3>Awards {%if prizes%} and Prizes {%endif%}</h3>
          <div class="content centered">
            <div class="third">
              <h4>Most Practical Solution</h4>
              <p>Awarded for the solution that  needs to exist, right now. Winning submissions fulfill a burning need.</p>
            </div>
            <div class="third">
              <h4>Most Fundable Solution</h4>
              <p>Awarded for most scalable product with a large market, incredible team, and glorious vision. </p>
            </div>
            <div class="third">
              <h4>Best Hack</h4>
              <p>Awarded for most impressive use of technology. It might not be scalable, but it sure is <em>cool</em>.</p>
            </div>
          </div>
<!--
          {# <span span class="i">$10,000 Footrub From Garrett</span> #}
          {# <b>With $50,000 In Additional Prizes From Our Partners</b> #}
-->
        </header>
        
        <div class="content centered">
          {%for s in all_sponsors%}

            <a href="{{s.sponsor.homepage}}" target="_blank">
              <div class="sponsor">
                  <img src="/partners?partner_id={{s.sponsor.sponsor_id}}" class="tier_two_sponsor" alt="Prebacked partner {{s.sponsor.name}}"/>
              </div>
            </a>

          {% endfor %}

        </div> <!-- end content -->

      
      </section> <!-- end prizes -->


<!-- Judges  ===================================== -->

      <section id ="judges" class="purp-black">
        {% if panelists %}

          <header><h3>{%if city %}{{city}}{%endif%} Challenge Panel</h3></header>

          <div class="content centered">
            {%for p in panelists%} 
            
              <div class="judge">
              <img src="/img?mentor_id={{p.mentor.mentor_id}}" alt="{{p.mentor.name}} " />   
               
              <div class="label">
                  <p class="name">{{p.mentor.name}} </p>
                  <p class="details">{{p.mentor.title}}, {{p.mentor.company}}</p>
              </div>  <!-- end label -->
              
              <div class="description hide-for-small-only">
                <p>
                  {%if p.mentor.bio %}
                    {{p.mentor.bio|safe}}
                  {%else%}
                    My bio will be available shortly...
                  {%endif%}
                </p>
              </div> <!-- end description -->
            
            </div>  <!-- end judge -->
            
            {%endfor%}
          </div>
        {% endif %}

        <header><h3>{%if city %}{{city}}{%endif%} Judges</h3></header>

        <div class="content centered">
          
          {%for j in judges%} 
          
            <div class="judge">
              <img src="/img?mentor_id={{j.mentor.mentor_id}}" alt="{{j.mentor.name}} " />   

              <div class="label">
                  <p class="name">{{j.mentor.name}} </p>
                  <p class="details">{{j.mentor.title}}, {{j.mentor.company}}</p>
              </div>  <!-- end label -->
              
              <div class="description hide-for-small-only">
                <p>{%if j.mentor.bio %}
                    {{j.mentor.bio|safe}}
                  {%else%}
                    My bio will be available shortly...
                  {%endif%}
                </p>
              </div> <!-- end description -->
            
            </div>  <!-- end judge -->
          
          {%endfor%}
 
        </div> <!-- end content -->

      </section><!-- end judges -->
      
      <section class="silver">

        <header>
          <h3>Order of Events</h3>
        </header>

        <div class="content centered">
          
          <div class="event-schedule-left">
            <ul>
              <li class="i"><strong>Day 1</strong></li>

              <li><strong>10:00 am</strong> - Doors Open/ Meet and Mingle</li>

              <li><strong>10:30 am</strong> - Pitches &amp; Team Formations</li>

              <li><strong>12:30 am</strong> - Lunch Served / Speaker Sessions</li>

              <li><strong>01:00 pm</strong> - Hacking Begins</li>

              <li><strong>06:00 pm</strong> - Dinner is served</li>

            </ul>
          </div>

        <div class="event-schedule-right">
            
            <ul>
              <li class="i"><strong>Day 2</strong></li>

              <li><strong>08:00 am</strong> - Light breakfast &amp; coffee</li>

              <li><strong>01:00 pm</strong> - Hacking Ends / Setup Presentations</li>

              <li><strong>01:30 pm</strong> - Lunch Served</li>

              <li><strong>02:00 pm</strong> - Judging / Happy Hour</li>

              <li><strong>04:00 pm</strong> - Awards Ceremony</li>

            </ul>
          </div>
          
          <div class="clear"></div>
        
        </div> <!-- end content -->

        

      </section>
      
      <section id="hardware" class="white">
        <header>

        <h3>Hardware &amp; Equipment</h3>

        </header>

        <div class="content-text">

          <p>
            Contestants are responsible for supplying the equipment needed to build their projects.  Recommended hardware includes, though isn't limited to: laptops, mobile devices, e-readers, desktops and benign robots.
          </p>

          <h4><span class="i">General Restrictions</span></h4>
          
          <p>The following are prohibited from use in the competition:</p>
          
          <ul>
            <li>- Medicines or controlled substances</li>
            <li>- Radioactive materials</li>
            <li>- Untested, unstable, or otherwise unproven "home brew" hardware</li>
            <li>- Laser devices designated Class II or higher</li>
            <li>- Surgical Instruments intended for incising, scoring, or otherwise cutting into organic tissue</li>
          </ul>

          <h4><span class="i">Homebrew Hardware</span></h4>

          <p>
            We allow the use of home made hardware and software products in the competition on the condition that they are fully functional and proven safe for use in public environment.  You may not bring incomplete, unstable, or unproven products to be finished or tested during the competition.
          </p> 
        </div> <!-- end content --> 

      </section> <!-- end hardware -->


<!-- FAQ =================================== -->

      <section  id="faq" class="purp-dark">

        <header>
          <h3>Frequently Asked Questions</h3>
        </header>
        
        <div class="content-text">


        {% for f in all_faq_categories%} 
          
          <h4><b>{{f.question|safe}}</b></h4>
          
          <p class="answer">{{f.answer|safe}}</p>
        
        {%endfor%}

          <div class="call-email">            
            <p>
              <strong>Still have questions?  Ask us anything about the event at</strong>
            </p>
            <span class="i">medhack@prebacked.com</span>
          </div> <!-- end Questions call to action -->
        
        </div> <!-- end content -->

      </section>

    </div> <!-- end container -->

    <!-- Page footer ====================== -->

    <footer>

      <div class="content">
          
        <div id="company-info" class="left">
          <p>Medhack: Health care Hackathon Events 
          <br /> &copy; 2014 Prebacked</p>
        </div>
        
        <div class= "right">
          <a href="mailto:medhack@prebacked.com">medhack@prebacked.com</a>
          
        </div>

        <div class="clear"></div>

      </div> <!-- end content -->
        
    </footer>


<!-- Scripts ====================== -->

    <!--clicky analytics-->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>    
    <script type="text/javascript">try{ clicky.init(100526234); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100526234ns.gif" /></p></noscript>
    
    <script src="../js/jquery-1.6.1.min.js" type="text/javascript" ></script>

    <!--goog analytics-->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30100162-2']);
      _gaq.push(['_setDomainName', 'prebacked.com']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    



    <!-- Facebook share -->
    
  </body>