{%extends 'adminadd.html'%}
{%block content%}
        <a href="/admin_add">Admin Home</a> <br/><br/>
        
        {%if message%}{{message}}{%endif%}
        <h1>Problem add</h1>
        
        <form action="/admin_add/problem_add" method="post" id="problem_add">
            <h2>Create new problem</h2>
                Problem Title <input type="text" name="title" required="yes" id="problem_title" value="How do we get people to capture their blood pressure to make them happier?" style="color: #666" onfocus="if (this.value == 'How do we get people to capture their blood pressure to make them happier?') {this.style.color='#000'; this.value=''}"><br/>
                
                The story <br/><textarea maxlen="" rows="20" cols="90" name="story"></textarea><br/><br/>
                
                The problem statement <br/><textarea maxlen="" rows="10" cols="90" name="statement"></textarea><br/><br/>
                
                Super short description of challenge (used for unique ID & url)<br/>
                <input type="text" name="problem_id" class="" style =""/>
                
                Unfair advantages <br/><textarea maxlen="" rows="15" cols="90" name="advantages"></textarea>
                
                Possible approaches <br/><textarea maxlen="" rows="15" cols="90" name="approaches"></textarea>
                
                Company (companies) pitching <br/> 
                {%for c in companies%}
                    <input type="checkbox" name="company" value = "{{c.name}}"/>{{c.name}} <br/>
                {%endfor%}<br/>
                
                Schedule
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Submissions open</td>
                            <td><input type="text" class="schedule_date" name="submissions_open" value="mm/dd/yy" class="thin" style="color: #666" /></td>
                        </tr>
                        <tr>
                            <td>Judging begins</td>
                            <td><input type="text" class="schedule_date" name="judging_begins" value="mm/dd/yy" class="thin" style="color: #666" /></td>
                            
                            
                        </tr>
                        <tr>
                            <td>Winners announcement</td>
                            <td><input type="text" class="schedule_date" name="winners_announcement" value="mm/dd/yy" class="thin" style="color: #666"/></td>
                        </tr>
                        <tr>
                            <td>Winners' Dinner</td>
                            <td><input type="text" class="schedule_date" name="winners_dinner" value="mm/dd/yy" class="thin" style="color: #666"/></td>
                        </tr>
                    </tbody>
                </table>

                <!--<input type="text" name="company" required="yes" id="company" value="Wellmark Blue Cross Blue Shield" style="color: #666" onfocus="if (this.value == 'Wellmark Blue Cross Blue Shield') {this.style.color='#000'; this.value=''}">Separate by commas<br/>-->
                Value <br/><textarea maxlen="" rows="10" cols="90" name="value" id="value"></textarea>
                <input type="submit" class="orange button submit">
                
                <br class="clear"/>
                
        </form>
        
        <br/><br/>
        <form action="/admin_add/problem_add" method="post" id="problem_link">    
            <h2>Link problems to events</h2>
            <strong>THIS SHOULD NOT NEED TO BE USED. Problems should be automatically linked, this is left just in case and will be deprecated</strong>
            <h3>Events</h3>
            {%for e in events%}
                {{e.event_id}}<input type="radio" name="event_id" value="{{e.event_id}}" {% if forloop.last %}checked="true"{%endif%}/><br/>
            {% endfor %}
            <br/><br/>
            
            <h3>Problems</h3>
            {% for p in problems %}
                <input type="radio" name="problem_id" value="{{p.problem_id}}" {% if forloop.last %}checked = "true"{%endif%}/>{{p.title}}, {{p.company}}
                <br/>
            {%endfor%}
            <input type="submit" class="orange button submit">
        </form>
        
        <br/><br/>
        <div id="problem_edit">
            <h2>Problem edit</h2>
        {% for p in problems %}
            <div class="problem_edit">
                <form action="/admin_add/problem_add" method="post" id="problem_edit">        
                    <input type="text" name="problem_id" value="{{p.problem_id}}" class="" style ="display:none"/>
                    
                    Title: <input type="text" name="title" value="{{p.title}}" class="" style="width:90%;"/>
                    <br/>
                    The story:<br/>
                    <textarea maxlen="" rows="20" cols="90" name="story" style="width:90%; height: 120px;">{{p.story}}</textarea>
                    Problem Statement:
                    <textarea rows="3" cols="90" id="problem_statement_{{forloop.counter}}" name="statement" style="width:90%; height: 120px;">{{p.statement}}</textarea>

                    Unfair advantages: <br/><textarea maxlen="" rows="15" cols="90" name="advantages" style="width:90%; height: 120px;">{{p.advantages}}</textarea>
                    
                    Possible approaches: <br/><textarea maxlen="" rows="15" cols="90" name="approaches" style="width:90%; height: 120px;">{{p.approaches}}</textarea>

                    Value: <br/><textarea maxlen="" rows="10" cols="90" name="value" id="value" style="width:90%; height: 80px;">{{p.value}}</textarea>

                    {% comment %}
                    Schedule:
                    <tbody>
                        <tr>
                            <td>Submissions open</td>
                            <td><input type="text" name="submissions_open" value="{{p.schedule.0}}" class="" style="color: #666"/></td>
                        </tr>
                        <tr>
                            <td>Judging begins</td>
                            <td><input type="text" name="judging_begins" value="mm/dd/yy" class="" style="color: #666"/></td>
                            
                            
                        </tr>
                        <tr>
                            <td>Winners announcement</td>
                            <td><input type="text" name="winners_announcement" value="mm/dd/yy" class="" style="color: #666" /></td>
                        </tr>
                        <tr>
                            <td>Winners' Dinner</td>
                            <td><input type="text" name="winners_dinner" value="mm/dd/yy" class="" style="color: #666"/></td>
                        </tr>
                    </tbody>
                    {% endcomment %}

                    <input type="submit" class="orange button submit">
                </form>
            </div>
        {%endfor%}
        </div>
        <br/><br/><br/>

    </div>
{%endblock%}

{%block scripts %}
<script type="text/javascript">
    $( document ).ready(function() {
        var page = "ignition";
        var the_id = "#" + page + "_link";
        $(the_id).addClass("active");
    });
</script>

<script type="text/javascript">
    $('.schedule_date').focus(function() {
        // console.log("schedule_date function ran")
        if (this.value == 'mm/dd/yy') {
            this.style.color='#000'; 
            this.value='';
        }
    });
    
    $('.schedule_date').focusout(function() {
        console.log("this.value = " + this.value)
        var year = this.value.split("/");
        //console.log("year = " + year[2]);
        // now we need to check that year is only 2 characters 
    });
</script>


<script type="text/javascript">
maxCharacters = 200;

$('#count').text(maxCharacters);

$('textarea').bind('keyup keydown', function() {
    var count = $('#count');
    //var submit = $('.submit');
    var submit = $('input[type="submit"]');
    var characters = $(this).val().length;

    if (characters > maxCharacters) {
        count.addClass('over');
        //submit.hide();
        submit.attr('disabled','disabled');
        submit.addClass('disabled')
    } else {
        count.removeClass('over');
        //submit.show();
        submit.removeAttr('disabled');
        submit.removeClass('disabled')
    }

    count.text(maxCharacters - characters);
});
</script>

{%endblock%}