    <!-- tab "panes" -->
    <div class="css-panes skin2 grid_4 alpha">

        <div class="friday med_sched">
            <div id="sched_day_1" class="day">
                <p class="timeline_number">1</p>
                <h4>Saturday - {{start_day}}</h4>
                <div class="">
                    <ul class="schedule_specifics">
                        <li>
                            <p class="sched_time">11:30 am</p>
                            <span>Doors open, lunch, networking</span></li>
                        <li>
                            <p class="sched_time">12:00</p>
                            <span>Logistics, problem pitches</span></li>
    <!--                    <li>
                            <p class="sched_time">1:00</p>
                            <span>Problem pitches</span></li>-->
<!--                        <li>
                            <p class="sched_time">1:30</p>
                            <span>Q & A</span></li>-->
                        <li>
                            <p class="sched_time">12:30 - 6:00</p>
                            <span>Ideation / iteration with execs</span></li>
                        <li>
                            <p class="sched_time">6:00</p>
                            <span>Dinner</span></li>
                        <li>
                            <p class="sched_time">8:00 pm</p>
                            <span>Venue closed</span></li>
                    </ul>
                </div>
              
                <br class="clear"/>
            </div><!--end of sched_day_1-->
        </div><!--end of friday tab-->
    </div>
    
    <div class="css-panes skin2 grid_4">
        <div class="saturday med_sched">
            <div id="sched_day_2" class="day">
                <p class="timeline_number">2</p>
                <h4>Sunday - {{day_two}}</h4>
                <div class=""><!--column 1-->
                    <ul class="schedule_specifics">
                        <li>
                            <p class="sched_time">10:00 am</p>
                            <span>Doors open, more iterating</span></li>
                        <li>
                            <p class="sched_time">11:00 - 4:00</p>
                            <span>More iterating</span></li>
                        <li>
                            <p class="sched_time">12:30</p>
                            <span>Lunch</span></li>
                        <!--<li>
                            <p class="sched_time">6:00</p>
                            <span>Dinner</span></li>-->
                        <li>
                            <p class="sched_time">5:30</p>
                            <span>Round 1 winners selected</span></li>
                        <!--<li>
                            <p class="sched_time">8:30</p>
                            <span>Cool down</span></li>-->
                    </ul>
                </div><!--end of grid_4 / saturday schedule-->
                <br class="clear"/>
            </div><!--end of sched_day_2-->
        </div><!--end of saturday tab-->
    </div>
    
    <div class="css-panes skin2 grid_4 omega">
        <div class="sunday med_sched">
            <div id="sched_day_3" class="day">
                <p class="timeline_number">3</p>
                <h4>Saturday - {{judge_day}}</h4>
                <div class=""><!--column 1-->
                    <ul class="schedule_specifics">
                        <li>
                            <p class="sched_time">11:00 am</p>
                            <span>Doors open, networking</span></li>
                        <li>
                            <p class="sched_time">12:00</p>
                            <span>Pitching, Judging, LOIs signed</span></li>
                        <li>
                            <p class="sched_time">3:00</p>
                            <span>Beer, inductance to Prebacked Ignition</span></li>
                        <li>
                            <p class="sched_time">5:00</p>
                            <span>Goodnight</span></li>
                    </ul>
                </div><!--end of grid_4 / sunday schedule-->
                <br class="clear"/>
            </div><!--end of sched_day_3-->
        </div><!--end of sunday tab-->
    </div>
