@mixin transition($type: all, $duration: .22s, $function: ease-in-out){
  -webkit-transition: $type $duration $function;
  -moz-transition: $type $duration $function;
  -o-transition: $type $duration $function;
  transition: $type $duration $function;
}
 


 
